[2021-04-19 13:32] ItachiSan opened #1 "How to contribute?"
Hello sir,

I saw both in the README and in the forum that you would like help for both Windows and Linux.

As I can help with that, I would like to know what is the process to help contributing. :)

[2021-04-20 06:53] ankitbko opened #2 "New BG segmentation models"
Checkout this and see if this gives better result https://elder.dev/posts/open-source-virtual-background/

I am not C++ developer so unfortunately cannot contribute directly over here. Hopefully this will help.

[2021-04-20 14:10] royshil commented on #2
that solution is using a general purpose net (MobileNetV1) which is fine. I can try to include several models to switch between to get the best result

[2021-04-20 14:11] royshil commented on #1
Just fork the repo, build on Windows, make commits of the changes you had to do to get it to build and run, and open a pull request back here

[2021-04-22 09:56] MatiMax opened #3 "Incomplete build description and missing dependencies"
Hi Roy,

first of all, thank you so much for delving into the merits of developing a so much anticipated and much needed plugin for the awesome OBS.

However, with regards to the build instructions I would like to be so bold as to mention several issues which I experienced during my struggle to get an error free build leaving me with frustration and finally giving up on the endeavour.

First of al

[2021-04-23 02:03] mctrafik commented on #3
+1 to the above.

For ease of discovery, this is the libobs error:

[code]

I tried downloading and installing the source for obs-studio, but it doesn't like the `libobs` that's in there. :/ I'm a programmer but not a C programmer, and this is a stopping point for me, too. Too bad. Really wanted to try this out.

[2021-04-23 05:12] benmurden opened #4 "OBS Studio 26.1.2 will not open (MacOS)"
I was able to successfully build the project and moved over the `.so` and data files to OBS, but unfortunately OBS will no longer run.

Removing `obs-backgroundremoval.so` from the plugins directory allows OBS to run again.

Excerpt from crash report:
[code]

[2021-04-23 18:03] HenkKalkwater opened #5 "Crash just after applying filter"
On Linux, after applying the filter, I get vertical green stripes in the preview and shortly after, the program crashes. I'm not really familiar with OBS, openCV and the onnxruntime machine learning thing at all, so I do not have a clue on what's going on.

Some, hopefully useful details:

OS: OpenSUSE Tumbleweed 20210418 (Linux)
Compiler: gcc version 10.2.1 20210401 [revision 892024d4af83b258801f

[2021-04-23 18:06] royshil commented on #4
did you copy the model file as well to the data folder?

[2021-04-23 18:12] royshil commented on #3
yea finding libobs was  a huge pain.

If you install OBS app you already have the binaries for libobs (e.g. `/Applications/OBS.app/Contents/Frameworks/libobs.0.dylib`)
but you don't have the headers. so you need to clone the main obs repo e.g. `git clone git@github.com:obsproject/obs-studio.git`

then you'd need to point `FindLibObs.cmake` to find the lib and headers:
[code]
and
[code]

I'm workin

[2021-04-23 18:15] royshil commented on #5
yep seems like the output format of your camera YU12 is not YUV422_UYVY like the filter expects...

i havn't yet had time fork the code so it finds the right input pixel format... working on it! :D

[2021-04-23 18:24] HenkKalkwater commented on #5
Ah, that would make sense. I noticed I had my v4l2-siource set to YUV12 instead of YUV422. Setting it didn't make the plugin crash. Thank you!

[2021-04-23 18:26] royshil commented on #3
I've created a release so you could download the pre-built binaries: https://github.com/royshil/obs-backgroundremoval/releases/tag/0.1-alpha

Follow the instructions on the release page.

Also added the above instructions to the `README.md`.

[2021-04-23 19:29] mctrafik commented on #3
Thank you for the reply, Roy.

I tired the pre-built binaries. Copied them into the plugin folders. Doesn't seem to work. I get:

[code]

My brew installs a different version:

[code]

So I'm guessing the pre-built version doesn't work.

[2021-04-23 22:35] benmurden commented on #4
Thanks for the response. Yes, I ran the following commands from the build directory:
[code]
No errors and I can see the files are there.

[2021-04-24 12:01] #5 closed

[2021-04-24 12:05] royshil commented on #3
OK. one solution is to bundle libonnxruntimeNNN.dylib with the plugin, and copy it to the same directory for it find it
another solution is to get the plugin to link against the symlinked version so it just finds any libonnxruntime.dylib and tries to use it (instead of forcing the exact one).

i'll take a look into option 2. but for now i'll just add the dylib to the release files

[2021-04-24 12:07] royshil commented on #4
"no errors" do you mean it's now working?

can you see any other error? e.g. if you run OBS from the command line like `$ /Applications/OBS.app/Contents/MacOS/obs` - what do you see in the logs?

[2021-04-24 12:37] royshil commented on #5
btw i added support for all accepted color spaces in OBS:
[code]

[2021-04-24 12:39] royshil commented on #5
@HenkKalkwater can you please share your build steps on linux? e.g. did you `apt` or `yum` something, and how did you build? just `cmake .. && cmake --build .`?

[2021-04-24 16:49] HenkKalkwater commented on #5
I had to change the declaration order in the `obs_source_info`-struct to match the declaration order of OBS, to avoid a critical compiler warning with GCC:

[code]

On OpenSUSE, I needed to install `obs-studio-devel opencv-devel` using zypper and I installed onnx-runtime by downloading the tarball from https://github.com/microsoft/onnxruntime/releases/tag/v1.7.0 and moving the contents to `/usr/lo

[2021-04-24 22:53] troypesola commented on #3
I'm unable to build too.

I did build a local copy of OBS Studio.  I set the header and libs to point to the git repo folders.  'cmake ..' works

But then 'cmake --build ..' fails with "Could not load cache".

I removed the CMakeCache.txt file, reran 'cmake ..' and I get the same error.

[2021-04-24 23:18] troypesola commented on #3
Looks like simply changing the build command to use current folder instead worked.

- 'cmake --build .'
- And then add a step to create the obs-backgroundremoval folder

Looks like it is working!

[2021-04-25 16:11] troypesola opened #6 "What about an alpha channel?"
Did you test out adding transparency with an alpha channel instead of setting the color?

There is an Alpha YUV format.  So it seems like it wouldn't be too hard to add a parameter for transparency, convert to an AYUV, apply the mask, then convert back to the proper output format.

Thoughts?   I can fork and give it a shot, but wanted to see if you had tried going direct to transparent already.

[2021-04-26 03:01] benmurden commented on #4
Sorry, "no errors" in this case referred to the copy operation.

Running `$ /Applications/OBS.app/Contents/MacOS/obs` gave the following output:
[code]

[2021-04-26 20:51] royshil commented on #6
my major hurdle so far is allocating new memory for the `obs_source_frame *frame` output.

a lot of the problem (and resources) is colorspace conversion, if I can allocate new memory and put the RGB*A* in there, and set the `frame->format = VIDEO_FORMAT_RGBA`, then this feature is trivial.

but so far i couldn't get the mem allocation down. i need to do some more research

but you're welcome to tr

[2021-04-26 20:54] royshil commented on #4
hmm it's not even loading the module. when the SInet ONNX model file is not in place it crashes... maybe that's the problem?

also - what version of Mac OSX are you running?
this should be supported from 10.13+, but i need to check more thoroughly

[2021-04-26 20:55] royshil commented on #3
I'm going to close this issue since i re-did the build and install parts.
open another issue if you're running into problems.

thanks for the help!

[2021-04-26 20:55] #3 closed

[2021-04-26 20:55] royshil commented on #1
it's now building on Windows and Linux . closing this issue

[2021-04-26 20:55] #1 closed

[2021-04-27 01:12] benmurden commented on #4
![image](https://user-images.githubusercontent.com/213062/116169917-b7e64880-a740-11eb-91f3-af9232a0a16c.png)

And MacOS version is the latest AFAIK
[code]

[2021-04-27 10:25] royshil commented on #4
can you try the latest release i've put up yesterday ?

[2021-04-27 20:00] mctrafik opened #7 "Still having build issues on OSX"
Good day.

Thank you for the recent updates. I'm still unable to use the plugin on OSX. So far:

- With the compiled plugin: onnxruntime cannot be found. If create a symlink to 1.5 from 1.7 the app crashes.
- I tried compiling on my machine again. With the updated code and instructions I'm able to run
[code]
but I DO have to specify `DLIBOBS...` attributes which are absent in the README. Not sure

[2021-04-28 02:26] benmurden commented on #4
I have done just that, but unfortunately ran into the same error when running OBS.

I did notice some warnings when making a fresh build.

[code]

[2021-04-28 15:20] troypesola commented on #6
I'll take a look when I have some time.  I just wanted to check if you had looked at it.  Good to know that the color space conversion is the challenge.

Feel free to close this one out.

[2021-04-28 15:20] #6 closed

[2021-04-28 19:26] royshil commented on #7
first i suggest not to supply `LIBOBS_LIB` and `LIBOBS_INCLUDE_DIR` directly, rather to stick to `obsPath`, `obsLibPath` and `obsIncludePath`
and let CMake find the file it needs.
if that doesn't work, check your paths again.

but it seems you got CMake happy at some point which is good.

for the crash, it might be that it can't find the model file or the onnxruntime dependency.

can you run OBS f

[2021-04-29 03:34] benmurden commented on #4
I tried commenting out the contents of `filter_create`, but that didn't help. I then went on to comment out all the functions referenced in `background_removal_filter_info`, and still no luck.

Only thing that got OBS to run was commenting out `obs_register_source(&background_removal_filter_info);` from `plugin-mail.cpp`, which I suppose is expected, because it prevents the entire module from load

[2021-04-29 12:43] royshil commented on #4
@benmurden  i've added a script to build opencv with static linking - see the README,
[code]
then build the plugin as usual.

i hope this will reduce the library surface area and reduce potential problems.

also - make sure to link build and link vs. the right version of libOBS
e.g. if you're running OBS 26.1.1 (run OBS and check the version) - build and link vs v26.1.1
if you're building on your

[2021-04-29 13:59] morrolinux opened #8 "Not building on Archlinux"
Hi,
This is what happens when I try to build on Archlinux following the README instructions:

[code]

If I edit `external/FindLibObs.cmake` and change `find_package_handle_standard_args(Libobs ....)` to `find_package_handle_standard_args(LibObs ....)` I still get

[code]
I do have `libobs` under `/usr/lib/pkgconfig` where `libobs.pc` is found but if I `export LIBOBS_INCLUDE_DIR="/usr/lib/pkgconfig

[2021-04-29 19:16] mrfixit2001 opened #9 "Current release crashing in Windows 10 x64"
Crash log:

https://dpaste.com/BVUYJL2YW

[2021-04-29 21:23] royshil commented on #8
you can always give cmake the directories explicitly e.g.
[code]

[2021-04-29 21:25] royshil commented on #9
this is crashing within the filter, so i'm going to guess it's a color space issue.
i might be wrong though.

i'd need more information about how it's crashing, e.g. what camera are you connecting, etc.

if you have an option to select the color space in the camera properties - try changing to different values.

[2021-04-29 21:27] royshil commented on #7
I've added scripts to build opencv and onnxruntime as static libraries.
this removes the dependency on the homebrew dynamic libraries and encapsulate everything in the plugin `.so` file.
it should be more robust.
please give it a try

[2021-04-29 22:59] mctrafik commented on #7
Hey Roy.

Thanks for the super quick turnaround. I tried the new instructions. I think I'm having issues building.

I had to do `brew install wget` (minor thing to add to instructions probably).

When installing opencv, the only thing that popped at me was:

[code]
-- Performing Test HAS_UNUSED_BUT_SET_VARIABLE
-- Performing Test HAS_UNUSED_BUT_SET_VARIABLE - Failed
-- Performing Test HAS_UNUSED_P

[2021-04-30 00:36] royshil commented on #7
i added a flag to make opencv not use libade
please try building opencv again

those errors you see in cmake are  fine.

[2021-04-30 02:02] benmurden commented on #4
After checking out the tag `26.1.2` of the obs-studio repo I was able to compile and run the plugin successfully. 🎉

I sincerely apologise for not having realized this sooner. Thanks for your help getting it going!

[2021-04-30 04:01] mctrafik commented on #7
Cool!

I can run `cmake ..` now. The thing that I thought looked concerning was when running `cmake --build` I saw this:

[code]

But otherwise I think it succeeded to build (it did spit out the *.so) file.

However when running OBS it just exits saying there was an illegal instruction. Last time it popped up a window w/ debug info. It doesn't do that anymore.

I don't think this is useful for deb

[2021-04-30 04:04] mctrafik commented on #7
Can you static link to the libs and upload another version of the *.so file?

[2021-04-30 08:09] progandy commented on #8
Remove ```external/FindLibObs.cmake``` and try again, this file should only be required for osx.

[2021-04-30 09:50] royshil commented on #4
glad to hear you were successful ! i'm closing this issue

[2021-04-30 09:50] #4 closed

[2021-04-30 14:13] mrfixit2001 commented on #9
The webcam is an integrated camera into the dell latitude 5411. Device manager looks like it's attached to the usb bus, it's called "Integrated Webcam" and here's the hardware detail:
USB\VID_0BDA&PID_58FD&REV_8616&MI_02
USB\VID_0BDA&PID_58FD&MI_02

The color space and color range options are:
Color Space: 709 and 601
Color Range: Partial and Full

I have tried combinations of both, but none resol

[2021-04-30 14:16] mrfixit2001 commented on #9
It crashes immediately when I click "Ok" after naming the filter, and I'm leaving the name the default "Background Removal". I see the filter options appear on the screen, threshhold, contour, smooth silhousette, and background color, along with all the associated controls. but my video immediately freezes and the application then crashes.

[2021-04-30 20:23] mikefoley opened #10 "Works great live but not on a pre-recorded video"
Hi,
I tried this on my Mac with a live camera and it works great.. Nice work! I was hoping it would also work on a pre-recorded video but alas, it doesn't seem to do very well. I don't supposed that's something in your queue?

thanks for the hard work!
mike

[2021-04-30 23:50] linuxmobile opened #11 "[RECOMENDATION] Do better tutorial to install, or do and .exe to install."
Hi, is hard to install this plugin. I already tried with the "tutorial" from the release page, and it's not working. I do the same that the "tutorial" say :
[code]

[2021-05-01 00:30] mctrafik commented on #7
Woo! Got it to work.

I use GHE, so had to run `git clone --single-branch -b 26.1.2 https://github.com/obsproject/obs-studio.git`. Thanks for the tip.

Specifying `DobsLibPath` and `DobsIncludePath` still didn't work for me. 🤷🏻 Had to point directly to the framework lib:

[code]

Then it started!

My only issue now is that doesn't recognize my face:

![Screen Shot 2021-04-30 at 5 26 04 PM](https:/

[2021-05-01 00:36] tikicoder commented on #9
has anyone tried installing https://github.com/microsoft/onnxruntime
I wonder if its not defaulting to the local ddl and trying to use the Global one that probably doesn't exist

[2021-05-01 01:13] mctrafik opened #12 "Feature request: edge padding."
Good day.

Love the plugin. Good work. I feel like a few things needed to make it usable.

Here's what I got when I tried to blur my background:

![Screen Shot 2021-04-30 at 6 06 03 PM](https://user-images.githubusercontent.com/1694347/116766392-1a5c7480-a9df-11eb-9ae2-4b277b22a139.png)

As you can see it doesn't think my hair, headset, forehead and eyebrows are part of me.  And around my shoulder

[2021-05-01 12:13] sgoeke commented on #9
I've got the same issue using a Logitech Brio webcam.

[Crash 2021-05-01 14-06-35.txt](https://github.com/royshil/obs-backgroundremoval/files/6409522/Crash.2021-05-01.14-06-35.txt)

[2021-05-01 12:23] royshil commented on #9
I just committed a fix to the color space conversion that relies on libobs internal omni-converters. So it should now be able to handle any input colorspace.

If you can please build and test.
I will put up a new release of binaries later today.

[2021-05-01 14:57] ngoonee commented on #8
Hi, do let me know if you were successful (or better yet try to provide a PKGBUILD). Haven't tried it myself due to time constraints but I will get round to it at some point.

[2021-05-01 22:46] savy-91 commented on #8
I am getting the same error on Ubuntu 21.04

[2021-05-02 01:39] royshil commented on #9
Please  try the latest release for windows: https://github.com/royshil/obs-backgroundremoval/releases/tag/0.2-beta

[2021-05-02 01:40] royshil commented on #11
The latest release https://github.com/royshil/obs-backgroundremoval/releases/tag/0.2-beta has a zip file which you unpack into the OBS directory, e.g. `C:\Program Files\obs-studio`.

I will work on an installer.

[2021-05-02 06:59] tocklime commented on #9
0.2 has fixed this problem for me.

[2021-05-02 11:32] royshil commented on #8
I've added a PKGBUILD for making the package
@ngoonee ☝️

[2021-05-02 11:33] royshil commented on #9
@sgoeke @tikicoder @mrfixit2001  can y'all verify the latest Windows release works for you plz?

[2021-05-02 11:34] royshil commented on #7
@mctrafik can we close the issue?

[2021-05-02 11:35] royshil commented on #10
@mikefoley plz try the latest release as it handles all color spaces. the problem may be that the video has a color space which was not supported

[2021-05-02 11:36] royshil commented on #12
this may be fixed by using other segmentation models - which i'm working on..

[2021-05-02 11:43] sgoeke commented on #9
0.2 fixed it for me as well. Thank you for the effort!

[2021-05-02 15:31] linuxmobile commented on #11
Cool, i want to try then!!! thx for work on it! i really apreciate it

[2021-05-03 04:31] tikicoder commented on #9
yup thanks

[2021-05-03 05:01] mctrafik commented on #7
Of course. Thank you for your help!

[2021-05-03 13:47] #7 closed

[2021-05-03 13:47] #9 closed

[2021-05-03 13:49] royshil commented on #10
@mikefoley can you please try v0.2 and see if it's improved?

[2021-05-03 14:13] mikefoley commented on #10
I tried with 27 RC2 and 26.10 and got a crash. Here's the details.

`Process:               obs [15682]
Path:                  /Applications/OBS.app/Contents/MacOS/obs
Identifier:            com.obsproject.obs-studio
Version:               26.1.0 (26.1.0)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           obs [15682]
User ID:               502

Date/Time:

[2021-05-03 16:25] mrfixit2001 commented on #9
Fixed for me now also, thanks!!

[2021-05-05 11:05] morrolinux commented on #8
Awesome work @royshil !
However I had to
[code]
Because apparently OBS plugins in Archlinux are loaded from `/usr/lib` rather than `/usr/local` so you might want to correct that in the Makefile or add those two lines in the pkgbuild IDK.

Thanks for the awesome work :)

[2021-05-05 17:16] ysalmon opened #14 "Precising Linux build instructions"
I suggest expanding the build instruction with the following, which will be of interest to people who got OBS Studio from the official PPA.

The PPA does not contain a libobs or libobs-dev and one should not install the version that comes with Debian/Ubuntu as it will not be the same version.
One should get the sources for the installed version, as in the case of a MacOS build : currently ``git cl

[2021-05-07 15:27] Wurschdbude commented on #14
@ysalmon THX alot for the hint regarding correct branch. This solved it for me. I also use PPA on Ubuntu 20.04 and cloned the repository for the headers.

I did not install to `/usr`, instead i moved to the following structure, which i prefer for my obs-installation:
[code]

In my case i did not need to `sudo ldconfig`.

[2021-05-10 07:37] simonbunge commented on #2
Great work, @royshil!! While your at adding selectable models, [MODNet ](https://github.com/ZHKKKe/MODNet) would be a cool one to try. A pre-made [ONNX version](https://drive.google.com/file/d/1cgycTQlYXpTh26gB9FTnthE7AvruV8hd/view?usp=sharing) is available, so should be straightforward enough. Not that I have looked into any detail, but a few tweaks to input/ output scaling and normalisation shou

[2021-05-11 15:51] krisezra87 opened #16 "PKGBUILD archlinux minor issues"
* pkgver_hyphen variable definition requires a tag on the latest git commit (which is not always the case).  This is easily fixed by either adding a tag for each commit, or something like:

pkgver_hyphen=$(git describe --exact-match --tags $(git rev-list --tags --max-count=1))

* Also a minor issue in the build file where SIPNet_Softmax.onnx is not included in the data folder.  I THINK it has work

[2021-05-11 17:08] krisezra87 commented on #16
Despite what seems to be a good compile now, obs-studio doesn't see the plugin.  Even if I try the approaches the others in the issues list have recommended: moving into /usr/share and /usr/lib as well as into .config/obs-studio...

Not really sure what to make of that.

[2021-05-12 00:22] simonbunge commented on #2
Thank you, @royshil. Can't believe how quickly you got that to work (as I just established it actually does). Massive kudos!!

[2021-05-12 02:23] #2 closed

[2021-05-13 01:58] royshil commented on #12
@mctrafik can you try the new models and see how it goes? if it's good - plz close the issue

[2021-05-13 02:00] royshil commented on #16
usually it fails to load because of missing dependencies...
can you inspect the shared library deps of your `obs-backgroundremoval.so` file?
perhaps it's just a e.g. `LD_LIBRARY_PATH` issue

[2021-05-13 02:01] royshil commented on #14
@ysalmon @Wurschdbude can y'all plz make a PR with fixes to the README?

[2021-05-13 02:02] royshil commented on #10
@mikefoley please try the latest versions. i've fixed some issues and made the build more robust

[2021-05-13 02:03] royshil commented on #8
@morrolinux can you plz make a PR with changes to the PKGBUILD?

[2021-05-13 03:53] krisezra87 commented on #16
Ah yes, I see I don't have libonnxruntime.so.  This is a real bear to get installed for some reason on arch.  I did a fresh pull from github from the link you have in the description and for some reason it won't build to completion.  The work continues.

[2021-05-13 10:10] progandy commented on #8
Here is a working PKGBUILD that downloads the release version and does not use git at all. Feel free to use it without attribution, I consider it public domain / CC0.

The changes in prepare should probably fixed directly. version_from_git should probaly ignored when VERSION is set manually and the models listed in CMakeLIsts have to be fixed.

[code]

[2021-05-17 01:32] simonbunge opened #19 "Wrong MODNet variant"
The O[NNX version of MODNet originally cited](https://drive.google.com/file/d/1cgycTQlYXpTh26gB9FTnthE7AvruV8hd/view?usp=sharing) is optimised for still image rather than video matting.

The correct one (corresponding with [this ](https://drive.google.com/file/d/1Nf1ZxeJZJL8Qx9KadcYYyEmmlKhTADxX/view?usp=sharing) model checkpoint) will need to be [re-exported](https://github.com/ZHKKKe/MODNet/tree

[2021-05-17 12:35] royshil commented on #19
can you send a direct link to the downloadable video model? i can create the simplified version (with https://github.com/daquexian/onnx-simplifier)

[2021-05-17 12:36] #12 closed

[2021-05-17 12:36] #10 closed

[2021-05-18 00:33] simonbunge commented on #19
[There](https://drive.google.com/file/d/1tuWK5ynzIhXqnOozeHDhN04LAOlf3J0b/view?usp=sharing) you go, @royshil.

[2021-05-18 10:58] marcelotrevisani commented on #14
I was not able to use the snap configuration
for some reason is not finding the libonnxruntime

[code]

[code]
however, the file is there
[code]

[2021-05-19 02:29] laundry-96 commented on #16
@krisezra87 Have you been able to get this installed on Arch? I am not seemingly having any luck...

[2021-05-19 03:34] ngoonee commented on #8
The provided PKGBUILD by @progandy works for me. Thanks!

[2021-05-19 03:36] ngoonee commented on #12
@royshil I saw the modnet model, it seems unusable for me (0.01 threshold gives a BIT of the image, otherwise it just filters everything out).

The SI model works the same as what @mctrafik has reported, everything above my lips isn't detected as face.

[2021-05-20 14:39] krisezra87 commented on #16
@laundry-96 no I have not been able to make it work yet unfortunately.  I have tried several onnx installs but nothing has generated that .so file for me yet.  You have reminded me that this was on my todo list.  I think I am going to nuke my install and start fresh.

[2021-05-20 15:37] krisezra87 commented on #16
@laundry-96 I got it!  I'm by no means an expert here, but it looks like the onnxruntime files are actually obtained during the make and perhaps cleaned up.  I went here:

https://github.com/microsoft/onnxruntime/releases/tag/v1.7.0

And downloaded / extracted the x64 tgz file for this release (it's the one that is shown as being necessary in the makeprg call and from `objdump -p /usr/local/lib/ob

[2021-05-24 21:27] r3k2 opened #20 "no linux .zip file?"
hello on obs forum says this plugin supports linux
[code]
But on the release only have two zip files one for windows and other for macOS...
https://github.com/royshil/obs-backgroundremoval/releases/tag/v0.2.4-beta

I am using Arch GNU/Linux.

[2021-05-24 21:36] r3k2 commented on #20
Nevermind... doh I read a bit more below and it comes with a PKGBUILD for arch .... It did had an error but closing this

[2021-05-24 21:36] #20 closed

[2021-05-24 22:00] r3k2 opened #21 "makepkg install is wrong"
on Arch GNU/Linux the plugin needs to be installed under the home config or if you want to do it for all users as the package is setup to do in this case, to /usr/lib/obs-plugins

[2021-05-24 22:02] r3k2 opened #22 "crash after adding it to the cam"
I get this:
[code]
Any ideas? seems it cant find the models? what can I do?

[2021-05-25 10:38] royshil commented on #22
what OS are you running?
as a quick fix you can always copy the model files over to the right location (OS dependent..)

[2021-05-25 14:20] r3k2 commented on #22
I am on Arch GNU/Linux

[2021-05-25 14:22] royshil commented on #21
please try the latest updates to PKGBUILD or use the latest pre-built package https://github.com/royshil/obs-backgroundremoval/releases/tag/v0.2.5-beta

[2021-05-25 14:22] royshil commented on #8
the changes have been incorporated into the PKGBUILD. Thank you everyone!

[2021-05-25 14:22] #8 closed

[2021-05-25 14:23] royshil commented on #16
@krisezra87 please let me know if the latest release works https://github.com/royshil/obs-backgroundremoval/releases/tag/v0.2.5-beta

[2021-05-25 14:23] royshil commented on #22
please try the latest release which should have the right models at the right location: https://github.com/royshil/obs-backgroundremoval/releases/tag/v0.2.5-beta

[2021-05-25 16:21] krisezra87 commented on #16
@royshil this looks much better and is very close.  No longer need the ~/.config/obs-studio/plugins symbolic links which is great, and I didn't have to manually symlink libonnxruntime.so into /usr/lib.

Some minor issues I'm not sure how to fix in a pull request:

1.  The checksum is wrong.  I bypassed with `makepkg --skipchecksums -si`
2.  Install instructions are slightly wrong.  You need the `-

[2021-05-25 19:42] r3k2 commented on #22
@royshil I am using master.

[2021-05-25 19:45] r3k2 commented on #22
ok I think I know whats going on.. I alredy open an issue about this.. the  arch install is wrong..
[code]
this works.
so the .so and this folder needs to be on /usr/* not /usr/local/*

[2021-05-26 01:30] r3k2 commented on #22
this is working I deleted everything and my git clone and re-pulled from master did the arch package and installed and everything works now with out any linking. thanks

[2021-05-26 01:30] #22 closed

[2021-05-26 01:30] r3k2 commented on #21
this is working I deleted everything and my git clone and re-pulled from master did the arch package and installed and everything works now with out any linking. thanks

[2021-05-26 01:30] #21 closed

[2021-05-29 20:53] laundry-96 commented on #16
I'm able to build the latest commit with makepkg, and install with makepkg -i with no issues.

[2021-05-31 01:34] royshil commented on #16
going to close this issue as most acute problems are resolved

[2021-05-31 01:34] #16 closed

[2021-06-01 12:16] metzger100 opened #23 "High Computepower Usage - low FPS"
I love this Plugin but it demands min. 30% of my CPU-Usage when I use the GPU-Render on my Windows System. Without Recording or Streaming. The performance drop to 18 FPS.
I am not sure if it is possible to reduce that. If not please close the Issue.

[2021-06-02 12:55] stahlratte opened #24 "background color channels seem to be in wrong order"
When i set #0000ff as the background color the picker shows it as blue, but the output color is actually red. Other way around also works (#ff0000 -> blue).
So probably somewhere the channel order needs to be reversed.

[2021-06-03 15:32] iBenMoore opened #25 "Performance Idea - option to reprocess mask every X frames"
I've had to opportunity to use this plugin now on several occasions to feed the virtual camera output into webex meetings, and it's been working well, but like many others I find that cpu usage is a bottleneck that effects performance.  Tweaking and/or trying out different models could improve that.  But another thing I was thinking of, and I'm not sure how feasible it is, but maybe an option coul

[2021-06-03 16:26] royshil commented on #25
thanks for the suggestion @iBenMoore

my intuition tells me that if we had a good segmentation model with very small input e.g. 32x32 or 48x48 - we can still reach a good visual experience (with contour smoothing) with very high frame rates. This is where i'll be spending my efforts in the short term.

[2021-06-07 20:11] hatzel opened #26 "Can't apply filter to source mirror"
Hi, not sure if what I was trying is even possible, but I wanted to build a blurred background thing by having the same v4l source once with and once without background removal. (For context, blur filters are, for example, available in streamfx).

Since you can't have two instances of the webcam input with different filters I used source mirrors, but I can't seem to add the background removal filt

[2021-06-08 23:51] fangfufu commented on #25
Google's new Mediapipe library can achieve very high performance without GPU.
https://google.github.io/mediapipe/solutions/selfie_segmentation

I have replaced the backend of my webcam background replacement tool with it:
https://github.com/fangfufu/Linux-Fake-Background-Webcam

[2021-06-09 01:01] royshil commented on #25
@fangfufu
Unfortunately
[code]

[2021-06-09 01:26] fangfufu commented on #25
@royshil , where do these error messages come from?

[2021-06-09 01:27] royshil commented on #25
When i try to convert the `.tflite` model to `.onnx` with the official converter https://github.com/onnx/tensorflow-onnx

[2021-06-09 01:33] fangfufu commented on #25
Ah ok.

[2021-06-09 04:22] GladstoneFilho commented on #22
Hi r3k2
I didn't understand what did you do.  I'm with the same crash error.
Could you please help me?

I'm using OS 10.15.17 with OBS 27.0.0

The OBS crash when I try to adjust something

[2021-06-09 04:44] GladstoneFilho commented on #4
Hi benmurden. I still having my OBS crashing on OSx. Could you help me?
I didn't understand what did you do to have successfully

[2021-06-09 13:32] benmurden commented on #4
I didn't try with 27.0.0, but if you checkout that tag and compile against that i.e. not `master` then you should be good to go.

[code]

[2021-06-09 17:04] iBenMoore commented on #25
Looks like there might be a Mediapipe meet onnx model here to try:  https://reposhub.com/dotnet/machine-learning-and-data-science/keijiro-MeetBarracuda.html

[2021-06-11 19:43] olhado commented on #24
I've seen this too. Perhaps in this area of the code? https://github.com/royshil/obs-backgroundremoval/blob/main/src/background-filter.cpp#L251-L254

I might try and open a PR, but until the CPU usage drops, I can't really use the plugin.

[2021-06-11 21:18] royshil commented on #24
i'll fix this very soon. along with the new background segmentation model

[2021-06-12 03:46] OBS1227 opened #27 "Background Remover crashes OBS"
Hi.
I was told by the developer that he hasn't updated it for OBS 27 yet and to bring my issue here.  I was able to install it and open it in OBS 27, but every time I activate a camera either externally or internally it crashes. My main computer is a Mac OS High Sierra and this is what the OBS log report was. Thanks:
 https://obsproject.com/logs/1B8vp1Uag7iHbEsg

[2021-06-14 14:31] anoril1979 commented on #27
Hi!

I got the same issue with OBS 26.1.1 on Win10: the plugin starts and is visible as a Video plugin, but when activated, the camera feedback goes black and OBS hangs.
Best regards,
Paul

(No crash log as I have to kill OBS as it hangs forever...)

[2021-06-17 19:56] royshil commented on #24
This was resolved in the latest release,

[2021-06-17 19:56] #24 closed

[2021-06-17 19:57] royshil commented on #27
I now upgraded the plugin for v27
Please try to install it now and see if it works, @OBS1227 @anoril1979

[2021-06-17 19:59] royshil commented on #25
Please see the latest release for the Meet model and another lightweight model.
The difference in performance is not very big, but the new models are faster.

[2021-06-17 19:59] #25 closed

[2021-06-18 17:34] brunodoamaral commented on #6
Hi @royshil. First thanks for building this plugin, it works really well!

As @troypesola suggested, I'm too trying to create an alpha output directly from obs-backgroundremoval plugin. Using it together with Chroma Key creates a "color border" effect when I try to make smooth edges.

I already have a working development setup and made some modifications to `filter_render` in order to create a BGR

[2021-06-18 17:38] royshil commented on #6
@brunodoamaral I think the new built in scalers can do this very easily. The mem allocation is trivial.
I can make an effort to implement this in the next couple days...
It's also needed for the "feather" feature that I just rolled out in the last version.

[2021-06-18 18:03] brunodoamaral commented on #6
@royshil thanks for your fast response.

[I added a new feature for mask offset](https://github.com/brunodoamaral/obs-backgroundremoval/commit/5cf07ff27ceff2147b4303afc781d09011fb821d) (it uses morphological operation to dilate or erode the mask). Combined with the feather feature, it create a nice fade affect.
But it didn't work well with Chroma Key. That's why I'm looking for some "native" alpha

[2021-06-20 11:24] packysauce commented on #27
Howdy! It's 4am so i'll be brief:
https://github.com/royshil/obs-backgroundremoval/blob/main/src/background-filter.cpp#L282
if i remove the std::string(newModel) call and just use newModel, it stops crashing and everything works.
popOS 21.04, built obs and plugin into ~/.local and have been debugging as best i can with vscode.
sleepy times, lemme know if i can get you more convincing details (its

[2021-06-21 09:06] anoril1979 commented on #27
I updated OBS to 27 and get the last build (after comment from Royshil) and it works fine!
Thanks

[2021-06-21 22:42] 2br-2b opened #28 "AUR inclusion"
Hi,

Is there any chance of this being added to the AUR?

[2021-06-22 01:32] ngoonee commented on #28
As long as a user is willing to maintain it.

[2021-06-22 02:06] royshil commented on #27
@OBS1227 @packysauce  are you able to run the plugin with v27?

[2021-06-22 02:09] packysauce commented on #27
(i'm compiling it myself, not using the release)
I got it running with v27, had to remove that std::string() i mentioned, but that got me sorted out.
fun fact, running with CUDA was basically removing _DML and using _CUDA! neat!

[2021-06-22 04:08] royshil commented on #27
@packysauce can you confirm the CUDA version actually uses the NVidia GPU instead of the CPU? i couldn't get it to work on my PC that has an Nvidia GPU

[2021-06-22 04:47] packysauce commented on #27
went ahead and put up what I've been using. nvidia-smi, cpu util, and fan noise all seem to suggest it's running on the GPU

[2021-06-29 20:48] vxf commented on #27
I also had to remove that std::string() constructor and hopefully let the compiler handle the copy, now all works perfect. I'm using gcc 7.5.0 and I also had to add the missing NULL fields in background_removal_filter_info declaration, so I guess @royshil  uses different compilers on Linux.

[2021-06-30 11:41] ItachiSan commented on #26
The same issue happens on Window, with latest versions of OBS & BG removal.

As the issue author posted, the issues are:

* The filter cannot be applied to a Source Mirror (provided from StreamFX)
* The filter is considered to be an audio filter rather than an effect

As this is the only plugin integrated with OBS and with nice results, it would be great to have it working 😄
If I can contribute in

[2021-07-20 08:25] wwsh commented on #27
hi! on my integrated NVIDIA GTX960m there's no way I can make it work with OBS. Which GPu have u tested with your btw great plugin ? Cheers

[2021-07-20 20:08] coleshaw commented on #14
@marcelotrevisani , curious if you figured out the issue you were having with OBS not finding `libonnxruntime.so.1.7.0`? I'm running into the same error using a flatpak installation...

[2021-08-01 19:18] stepfister opened #32 "OBS 27.0.1-2 (64 bit) frozes and chrashes when aktivating plugin in Linux Manjaro"
Specs.:

OS: Manjaro Linux x86_64
Kernel: 5.10.52-1-MANJARO
CPU: Intel i5-4460 (4) @ 3.400GHz
GPU: NVIDIA GeForce GTX 960

Issue:

If I want to use the backgroundremoval-plugin with my logitech 930e obs frozes first and then it crashes. I never see the config dialog of this plugin.
I installed with `Archlinux: install the package e.g. pacman -U obs-backgroundremoval*.tar.zst`

Any ideas or fixes?

[2021-08-16 06:07] JoshuaMoe commented on #32
I think if you clone the repo and then follow the steps for Arch listed in the readme it should work

the steps are:

[code]

[2021-08-16 12:39] stepfister commented on #32
Thanks, it works. I can aktivate it. The results are not really good. The background is flickering and my head is always disapearing.

[2021-08-16 12:42] JoshuaMoe commented on #32
Alright,

you need to ensure proper lighting and you could play with the settings a bit and maybe choose a different segmentation model

[2021-08-16 12:46] stepfister commented on #32
I have two led-lights on my desk in front of me. Maybe the plugin needs more controlled light? In my Back there a windows with daylight? I will try some adjusting.

[2021-08-16 12:47] JoshuaMoe commented on #32
Oh, the windows could cause the problem maybe try hanging something in front

[2021-08-16 13:02] stepfister commented on #32
Yes, the windows are a problem. I closed all, made the room dark, its getting better. I have my head back. But every white or somehow reflecting surface is a problem. Even the pinguin tux with his yellow feets disturbs the body shape. It only works with SINet, MODNet does really nothing in my case. I can use a real greenscreen with my lightning. My lights shouldn't be the problem.
The plugin is ve

[2021-08-17 16:57] tmilker commented on #6
@troypesola @brunodoamaral You can get a transparent background out of this plugin by placing video source in it's own scene, adding the plugin as a filter, then placing that scene in your scene and filtering that with the ChromaKey filter.

[2021-08-19 09:20] Krutonium commented on #28
https://aur.archlinux.org/packages/obs-backgroundremoval/

[2021-08-19 15:23] max-allan-surevine commented on #27
v27 fails for me. I see about a second of background removal (from my video camera source). And then it crashes OBS completely. No delays etc.

[2021-08-23 17:30] 2br-2b commented on #28
Thank you!

[2021-08-23 17:30] #28 closed

[2021-08-24 01:33] LukeFree91 commented on #27
Yep I have the same issue!

[2021-09-06 14:16] tatunts commented on #23
Hello @metzger100, do you happen to have an AMD CPU? With my 3900x CPU usage is simply too high, even with GPU on. Thanks.

[2021-09-06 20:55] metzger100 commented on #23
Hella @tatunts I am using a Intel Quadcore CPU. So its not CPU related.

[2021-09-07 12:52] IRoninCoder opened #33 "Compatibility issue with the obs-studio ppa"
The default instructions did not work for me on ubuntu 20.04 with obs studio ppa because obs did not detect the plugin installation. Upon investigation it turns out that the obs ppa is utilizing the `/lib/obs-plugins` which is not in the `CMakeLists.txt`. So I wrote a patch for it:
[code]
And now obs studio successfully display the filter, however trying to add the filter it breaks with a segfault

[2021-09-11 04:31] ghost opened #34 "Obs Background Removal for Ubuntu"
i like they added background removal for linux (FOR ARCHLINUX)!
i am using ubuntu plz add support for ubuntu
make it .deb file
plz
Thanks

[2021-09-12 13:25] unk1nd commented on #34
would like this as well

[2021-09-12 23:32] mjevans commented on #14
I am attempting to build this on Debian stable (11 Bullseye released in 2021), following the current Linux directions with some minor changes.

    # # language-pack-en is missing,
    $ sudo apt install -y libobs-dev libopencv-dev wget git build-essential cmake libonnx-dev
    $ git clone https://github.com/royshil/obs-backgroundremoval.git .
    $ mkdir obs-backgroundremoval/build && cd obs-back

[2021-09-13 00:34] mjevans commented on #14
Rebased instructions based on the archlinux package build
https://github.com/royshil/obs-backgroundremoval/issues/8#issuecomment-840460333

src-obs-backgroundremoval$ cmake -B build -DobsIncludePath=/usr/include/obs -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_INSTALL_RPATH="/usr/lib/obs-backgroundremoval" -DOnnxruntime_INCLUDE_DIRS=/usr/include/onnx/ -DOnnxruntime_INCLUDE_DIR=/usr/include/onnx/ -DOnn

[2021-09-17 15:28] zeitiger opened #35 "Filter don't work with browser sources"
I would like to use this plugin in my OBS.Ninja setup, but this filter couldn't be applied to my browser sources.

[2021-09-20 09:19] melhindi commented on #14
Hi,
I am running ubuntu 21.04 and I had to do the following to be able to build and install the plugin:

- Remove OBS-Studio installed via snap and install OBS-Studio via ppa (`sudo apt install obs`) [this was required due to dependency conflicts with libobs-dev]
- Install dependencies as mentioned in README
[code]
- Run: `cmake -S . -B build -DobsIncludePath=/usr/include/obs` to configure the bui

[2021-09-20 09:43] marcelotrevisani commented on #14
That worked for me, I just needed to change the location of the plugins to
``/usr/lib/x86_64-linux-gnu/obs-plugins/``

[2021-09-20 16:31] artificialsoph opened #36 "Build Failure on M1 Macs"
Hi! Thanks for making and supporting this :) I ran into an issue on my M1 mac and didn't see it in this tracker so I wanted to add it. It's not too surprising, but in case there's an easy fix I wanted to share.

Things go fine until I get to the build step and then I get this

[code]

[2021-09-21 06:30] DrewskiesAU opened #37 "Installed But Not Showing"
Hi Team,
I have followed instruction to install plugin but when open OBS it is not listed in the filter
![Capture](https://user-images.githubusercontent.com/91114124/134122411-0a98e8fe-c581-4a9e-81de-2d8c4632b616.PNG)
s

[2021-09-23 12:11] louie-github opened #38 "Is it possible to create a new release?"
Hi! It looks like in between the latest [v0.3.0-beta](https://github.com/royshil/obs-backgroundremoval/releases/tag/v0.3.0-beta) release and the latest commit, there have been a few features added, most importantly:

- Processing mask every X frames of video (8d64b35644344cda7e942aaa9e63ed54ba23b872)
- Using CUDA (0f101de11f16ccd9e6c70e6318e0210a0c796bdf)

I think these features, especially the fi

[2021-09-23 15:48] bfack95 commented on #37
Having the same issue. Hoping someone can address this.

[2021-09-23 23:22] geneangela commented on #37
I am also having the same issue.

[2021-09-29 04:21] DrewskiesAU commented on #37
Is there any updates on this by any chance?

[2021-09-29 05:33] rygvko commented on #37
Yes i have the same issue....pls fix this...

[2021-09-29 19:36] ryanpeiris commented on #37
Hi, Guys,

Make sure you are checking the filter under audio/video not in effect filters. I made that mistake.

![tempsnip](https://user-images.githubusercontent.com/22732023/135336731-d8187a40-d03f-42f8-8846-3290c93456b1.png)

[2021-09-29 20:34] xelantro commented on #37
Well for me it's just not there :/ and as seen in the screenshot it seems like he's also in the Audio-/Videofilters list.
On Windows, extracted the arcive, copied it all over (everything seems to be there - like `obs-backgroundremoval.dll in \obs-plugins\64bit\` and so on)

[2021-09-29 22:27] DrewskiesAU commented on #37
Hi Ryan,
As per my screenshot on original message, I can confirm I am looking under Audio/video filters

[2021-09-30 12:49] rygvko commented on #37
Is Roy the developer is not say something about this???? helow Roy.....

[2021-10-02 15:15] hvisage commented on #37
If you are on macOS and having this problem, you are probably on a Case Sensitive filesystem and the .so file got put in `Plugins` instead of `PlugIns` and you'll notice the 2x directories in a `ls -l` output like this:
[code]

Solution, mv/copy the `obs-backgroundremoval.so` to the `PlugIns` directory and it will pop up :)

(At least me it did after a build it when I was trying to find a solution

[2021-10-02 15:31] rygvko commented on #37
If Windows???

[2021-10-03 06:48] DrewskiesAU commented on #37
I am on windows

[2021-10-03 07:03] rygvko commented on #37
what kind of windows do you have? @DrewskiesAU

[2021-10-03 09:08] hvisage commented on #37
I'd say follow the same logic to check... it'll definitely be a similar problem on Linux.

I don't do M$-Windows - too much issues for me professionally, so can't comment on Windows

[2021-10-03 11:34] DrewskiesAU commented on #37
Hi @rygvko i am running windows 10

[2021-10-04 03:01] Localzen commented on #37
FOUND THE SOLUTION!!! I was having the same issue, installed but couldnt see it. I updated my OBS and the background removal tool showed up where it was supposed to. To update OBS, navigate (within OBS) to "help" -> "check for updates".
@MatiMax @rygvko

[2021-10-04 03:22] rygvko commented on #37
@Localzen Nope it doesnt works......my obs is 27.1.1 64bit still not showing up....

[2021-10-04 03:24] Localzen commented on #37
@rygvko for real?? damnn... did you extract the zip directly into your OBS folder?

[2021-10-04 03:33] rygvko commented on #37
@Localzen Yes I did....C:\Program Files\obs-studio\data\obs-plugins\obs-backgroundremoval And C:\Program Files\obs-studio\obs-plugins\64bit

[2021-10-04 21:10] DrewskiesAU commented on #37
Confirming my OBS is the current version and extract directly to the location

[2021-10-05 13:39] rygvko commented on #37
I think its a bug in the plugin causing that....the developer must fix it....

[2021-10-08 15:35] tomchiverton commented on #33
The magic is `cmake .. -DLIBOBS_INCLUDE_DIR=/usr/include/obs`

[2021-10-08 19:16] IRoninCoder commented on #33
@tomchiverton Unfortunately that did not fix it for me. It crashes after I add the filter from the list of filters on the video source. I installed it without using the above patch by just updating the flag and running the `mv`. Filter does show up in cli and in the list of filters on camera source inside obs UI.

Thinking graphic card which I do not have and rely on integrated graphics, but I tho

[2021-10-09 08:00] kontroll commented on #37
I can see the filter, on Linux, under the list of Audio/Video filters. My problem is that I use my phone as a cam, and it uses a browser source. For that reason I can't apply the filter anyway.

[2021-10-09 11:20] rygvko commented on #37
@kontroll Yes you can add Audio/Video Filters. Open you Phone cam using media not browser source. Then you can Uncheck the Local file, then in the input enter the link for accessing your phone camera...

[2021-10-09 18:19] #33 closed

[2021-10-09 20:20] israteneda opened #39 "Error on Mac OS Big Sur OBS Studio 27"
**System**
MacBook Pro (15-inch, 2018)
macOS Big Sur 11.6
Processor 2,2 GHz-6-Core Intel Core i7
Memory 16 GB 2400 MHz DDR4
Graphics Radeon Pro 555x 4GB Intel UHD Graphics 630 1536 MB

**OBS**
OBS Stduio 27.0.0 (64 bit)

[2021-10-09 20:26] israteneda commented on #39
I copy only the plugin from plugin folder, but I needed to copy also the data from resources folder, so I resolved the issue copying the file from plugins folder into that app's plugin folder and also copying the resources into the app's resource folder

[2021-10-09 20:26] #39 closed, assigned to nobody

[2021-10-09 22:42] Zahrun commented on #34
I added the package to pacstall https://github.com/pacstall/pacstall
It will work only with the obs-studio version from Ubuntu repos (no ppa, no flatpak, no snap)

[2021-10-13 13:55] JiaChen-Zeng commented on #23
Same issue. I'm using GTX 1650 but CPU usage is constantly over 80%.

[2021-10-13 20:20] Zahrun commented on #34
My pacscript does not work with the ppa version of OBS.
Run this:
`sudo apt remove obs-studio -autoremove` to remove the ppa version
Then remove the ppa:
`sudo add-apt-repository ppa:obsproject/obs-studio -r`
Then install the obs-studio from Ubuntu repo:
`sudo apt update && sudo apt install obs-studio`

That is one step. Now the file not found issue is weird, it’s like the file download failed. Tr

[2021-10-13 20:42] mperezy commented on #34
Yes, using `obs-backgroundremoval-git` on your **pacscript** seems it worked:
![image](https://user-images.githubusercontent.com/29245884/137208738-06f38e2e-5356-4c3a-8ba8-f2de871b5403.png)

But now I'm not able to open OBS following the steps you shared first in your last comment LOL. I'm only see the loading animation in the mouse cursor and nothing happens:

![OBS-issue](https://user-images.git

[2021-10-13 20:47] mperezy commented on #34
@Zahrun

I tired to run `obs-studio` from terminal and I'm getting this:

![image](https://user-images.githubusercontent.com/29245884/137210373-ee09d132-0fb1-48f8-8581-ab1f1b3dc18b.png)

[2021-10-13 21:50] Zahrun commented on #34
Yup it seems StreamFX requires obs-studio version 27 as a minimum since version StreamFX 0.10.1
So you can use StreamFX version 0.10.0 with your current setup.
Or actually, Ubuntu 21.10 will be out tomorrow and deliver obs-studio version 27 so upgrading to ubuntu 21.10 might have obs work with StreamFX 0.10.1
Or I could try to make the pacscript work with the ppa version but I think it’s complicat

[2021-10-13 22:44] mperezy commented on #34
For the blurred black border it's only an image with that black border and applied the blur effect from `StreamFX` with Dual Filtering type, Area subtype and size 4.

[2021-10-13 22:54] Zahrun commented on #34
Ah you are lucky you can add two sources from the same camera. It does not work with my cheap webcam. I could use a Source Mirror from StreamFX but I can’t apply the background removal on it. Some people had the same issue https://github.com/royshil/obs-backgroundremoval/issues/26 I’ll see if that can be fixed somehow.

[2021-10-13 23:02] mperezy commented on #34
Jeez !. For some reason the [repo](https://github.com/jschmid1/gopro_as_webcam_on_linux) that I'm using to be able to stream my Gopro in Ubuntu makes visible for many programs that use webcams, so I think that's why I can create more than one source of my gopro in OBS. Maybe you need to use **v4l2loopback** to stream your webcam, but it is probably you'll get some latency in your webcam source. Ma

[2021-10-14 00:30] mperezy commented on #34
Looks really good !

I'm glad you could solve your webcam issue with `v4l2loopback` on `webcamoid`.

[2021-10-14 01:24] Zahrun commented on #26
Hey, I found a way to use the background removal together with blur background effect:
1. Start webcamoid
2. Go to camera source, select source and resolution
3. Go to preferences and enable virtual camera output
4. In OBS, add V4L2 selecting the webcamoid virtual output
5. You can add two: one with obs-backgroundremoval and the other with StreamFX blur

If you also want to use the OBS virtual cam

[2021-10-15 06:27] Johnnyreyman opened #40 "Crash On filter effect application"
Every time that I try to apply the Background Removal Effect, it crashes OBS on Manjaro:
Specs:
`System:    Host: Synolvia-GX1 Kernel: 5.12.19-1-MANJARO x86_64 bits: 64 compiler: gcc v: 11.1.0 Desktop: Deepin 20.2.2
           Distro: Manjaro Linux base: Arch Linux
Machine:   Type: Desktop Mobo: Gigabyte model: H170-Gaming 3 v: x.x serial: <superuser required>
           UEFI-[Legacy]: American Me

[2021-10-15 06:38] Johnnyreyman commented on #32
Is there any way to enable gpu inference on linux?

[2021-10-15 06:38] #40 closed

[2021-10-15 06:38] Johnnyreyman commented on #40
Duplicate #32

[2021-10-16 06:02] ArudoPE opened #41 "Doesn't work with me (I'm brown and my background is kinda brown too)"
I think I'm hard to identify to this plugin, because it can't identify me and "remove" the background. If I use the default settings, it shows a black screen, and if I play a little with the settings it shows this:
![image](https://user-images.githubusercontent.com/74159611/137575786-33b112e9-132d-4524-b377-3c64629c7b16.png)

[2021-10-19 08:20] spamnick opened #42 "Can't install on Ubuntu"
Error:
[code]
Full log
[code]

[2021-10-19 08:45] siakc opened #43 "Crashed on windows when applied to camera"
[carsh_report.txt](https://github.com/royshil/obs-backgroundremoval/files/7371642/carsh_report.txt)
A few seconds after the filter is added OBS Studio crashes.

[2021-10-19 15:06] Divinelight opened #44 "Crash for OBS on windows 10 when applying Background Removal filter"
Added crash logs, would love some help or understanding why this does not work for me.

Thank you for this tool! :)

[Crash 2021-10-19 16-53-05.txt](https://github.com/royshil/obs-backgroundremoval/files/7374487/Crash.2021-10-19.16-53-05.txt)
[Crash 2021-10-19 16-53-39.txt](https://github.com/royshil/obs-backgroundremoval/files/7374488/Crash.2021-10-19.16-53-39.txt)
[Crash 2021-10-19 16-56-47.txt]

[2021-10-20 10:46] spamnick commented on #42
@fubar-coder So all steps in myDir:
[code]
Right?

[2021-10-21 07:16] doricci commented on #42
@spamnick After your command `git clone ...` you have to do `cd obs-backgroundremoval`.

But then I have an issue while running the command `cmake .. && cmake --build . && cmake --install .`
[code]
I installed all the dependencies like it was said in the REAME.md of the project, anyone has an idea?

[2021-10-24 01:25] coolsoftrf opened #46 "Add Peter Lin's RVM model support"
There's a great AI network model that seems to remove background much more effectively than all currently supported models. Could you integrate it into your plugin?
https://github.com/PeterL1n/RobustVideoMatting

[2021-10-27 09:53] HaoTao95 opened #47 "CUDA mode is not working"
I built a plugin with CUDA mode,
But it shows "No properties available".

I have a NVIDIA RTX 3009 installed in my pc

Can anyone help?

[2021-11-02 05:56] DrewskiesAU commented on #37
Still not working, has there been any updates to fix as of yet?

[2021-11-02 06:14] rygvko commented on #37
i guess it never gonna fix....cause the developer dont care about it.....its just few computer that not able to used it....just uninstall
and find another way....forget this suck plugin....

[2021-11-02 10:30] Serph91P commented on #44
Have the same error dunno why.

[2021-11-02 10:31] Serph91P commented on #43
Same error here.

[2021-11-02 22:56] royshil commented on #6
@mhcerri  I'm working on the alpha channel right now as well as a 27.1.3 (latest) OBS version

[2021-11-02 22:57] royshil commented on #46
i'm working on it right now, but that model has a bunch more inputs and outputs (recurrent states)...
it will need some abstracting since the inference code is starting to have a mess of `if` statements! 🤮

[2021-11-02 22:58] royshil commented on #44
i'm working on the v27.1.3 OBS compatible plugin...

[2021-11-02 22:59] royshil commented on #43
i'm working on the v27.1.3 OBS compatible plugin...

[2021-11-03 03:11] 3xploiton3 opened #48 "How install on Mac Catalina ?"
![image](https://user-images.githubusercontent.com/19517680/140005040-5c8cbf0b-09ed-4d35-bb3d-2fbd799043af.png)

but background remove filter doesnt show up,

![image](https://user-images.githubusercontent.com/19517680/140005130-ef708a4f-f286-44af-9a56-02ab66242c5a.png)

sorry, anyone can help me?

[2021-11-03 05:18] royshil commented on #46
i added the RVM model but it doesn't perform any better than MediaPipe in terms of segmentation... and it seems slower. but i'll keep trying to get it to perform better

[2021-11-03 13:23] royshil commented on #38
i'm going to release again within a couple days
just going to upgrade to v27.1.3 and add the alpha channel

[2021-11-03 13:27] royshil commented on #48
it's about the OBS version - I will release a new version very soon so you can use it in the latest OBS

[2021-11-03 13:29] royshil commented on #36
i'm pretty sure you need to build ONNX Runtime from scratch... try the onnxruntime build scripts

[2021-11-03 13:30] royshil commented on #41
try the MediaPipe model - it's faaar better then SINET

i don't think your skin complexion or background are particularly hard .... it should work OK

[2021-11-03 13:33] royshil commented on #37
Hi @rygvko . Thank you for your comment! I'm working in 3 jobs and I've very very little time, but I do my best (!) to give you all a completely free plugin and open source. I work at night and on the weekends, because I think it's a good thing for the OBS users to have for free.
If you're not satisfied with the plugin - help us improve it! check out the code and fix some problems..
Thanks again

[2021-11-03 13:36] royshil commented on #47
i'm looking into the CUDA release. it has to do with bundling the CUDA DLLs , i believe

but i appreciate any help!

[2021-11-03 13:42] rygvko commented on #37
yes at last you give concern about this really appreciate....

[2021-11-03 23:33] royshil commented on #48
Please try https://github.com/royshil/obs-backgroundremoval/releases/tag/v0.4.0

[2021-11-03 23:33] royshil commented on #46
Please try https://github.com/royshil/obs-backgroundremoval/releases/tag/v0.4.0 it has the new model

[2021-11-03 23:34] royshil commented on #44
Please try https://github.com/royshil/obs-backgroundremoval/releases/tag/v0.4.0 for v27.1.3 support

[2021-11-03 23:34] royshil commented on #43
Please try https://github.com/royshil/obs-backgroundremoval/releases/tag/v0.4.0
@Serph91P @DirkUHofmann @siakc @Divinelight

[2021-11-03 23:35] royshil commented on #27
Please try https://github.com/royshil/obs-backgroundremoval/releases/tag/v0.4.0
@LukeFree91 @max-allan-surevine @wwsh @vxf @packysauce

[2021-11-03 23:36] royshil commented on #38
Please try https://github.com/royshil/obs-backgroundremoval/releases/tag/v0.4.0
@louie-github

[2021-11-03 23:38] royshil commented on #37
Please try https://github.com/royshil/obs-backgroundremoval/releases/tag/v0.4.0
@rygvko @DrewskiesAU @chukwumaokere @kontroll @Localzen @hvisage

[2021-11-03 23:38] royshil commented on #35
i've no idea how to make that happen... do you want to do some research?

OBS and it's library is very under-documented.

[2021-11-04 04:13] DrewskiesAU commented on #37
Thank you for the time and effort you put into this @royshil

I have just tried the new file and it still doesnt show up for me

[2021-11-04 08:23] rygvko commented on #37
Still not showing up...same as @DrewskiesAU....running on 27.1.3 (64bit)

[2021-11-04 10:05] koen-db opened #49 "Missing dependency in docs on linux: libsimde-dev"
Tested on ubuntu 20.10:
`cmake .. && cmake --build . && cmake --install .
-- Configuring done
-- Generating done
-- Build files have been written to: /home/k/Projects/Downloaded/obs-backgroundremoval/build
[ 33%] Building CXX object CMakeFiles/obs-backgroundremoval.dir/src/background-filter.cpp.o
In file included from /usr/include/obs/graphics/vec4.h:22,
                 from /usr/include/obs/grap

[2021-11-04 10:57] ASchneiderBR opened #50 "Crash at startup"
Hello!

Latest build now crashes my OBS at startup, unfortunately.

[Crash 2021-11-04 07-55-09.txt](https://github.com/royshil/obs-backgroundremoval/files/7474232/Crash.2021-11-04.07-55-09.txt)

No problem, removing the plugin solves the problem.

Thanks!

[2021-11-04 14:13] royshil commented on #50
ok let me check. it's probably the version of libOBS ...
i'm rebuilding the windows release

[2021-11-04 14:13] royshil commented on #49
@koen-db  can you plz make a pull request with this fix?

[2021-11-04 14:45] royshil commented on #50
@ASchneiderBR  please try the latest build: https://github.com/royshil/obs-backgroundremoval/releases/download/v0.4.0/obs-backgroundremoval-0.4.0-win64.zip

[2021-11-04 15:21] ASchneiderBR commented on #50
Hello! I was in fact using this version. The problem was that I had this filter already applied to a webcam source, with the previous built. When I unpack the latest, OBS crashes at start up. Then I've removed the plugin, removed the filter from the webcam source, closed OBS, extracted the latest version and now it works! It seems that the filter already applied with a previous version, and enable

[2021-11-04 15:51] royshil commented on #50
i cut a new release and just replaced the existing .zip - so you did actually install a new version of the plugin compiled for v27.1.3... i think this is what did it

[2021-11-04 15:51] #50 closed

[2021-11-07 11:11] NuclearMonster opened #51 "Installation on an M1 Mac w/Monterey"
Managed to get a little further than #48 via a few changes.

1) I observed how other plugins (_StreamFX_ & _obs-ndi_) had their file hierarchy on macos and changed it up to match the `/Library/Application Support/obs-studio/` here's what I ended up with:
<img width="710" alt="Screen Shot 2021-11-07 at 01 05 36" src="https://user-images.githubusercontent.com/903791/140642558-674e4f45-6ef9-400e-b49b

[2021-11-07 11:40] NuclearMonster commented on #51
That worked. Unfortunately I just get a black image:
![Screen Shot 2021-11-07 at 01 39 37](https://user-images.githubusercontent.com/903791/140643405-a4ae04ac-baf3-45c3-b571-04a76b63368b.png)

[2021-11-07 11:45] NuclearMonster commented on #51
It does appear to be doing something, CPU usage for OBS gets way higher when the filter is enabled...

[2021-11-10 08:50] Inventatorul1 commented on #37
Same problem

[2021-11-10 12:04] Maverobot opened #53 "Missing binary for Linux in the latest release 0.4.0"
`obs-backgroundremoval*.tar.zst` is missing in the "Assets" of the latest release `0.4.0`.

[2021-11-11 16:50] KeysiJones commented on #37
I found a solution...

Step 1: Uninstall OBS by running sudo apt remove obs-studio
Step 2: Add OBS official repository by running  sudo add-apt-repository ppa:obsproject/obs-studio
Step 3: Update packages running sudo apt update
Step 4: Install OBS studio by running sudo apt install obs-studio
Step 5: Clone the repository in the folder you want it to be cloned and then run bellow commands

git clo

[2021-11-11 17:07] ldsands commented on #49
How and where do you install libsimde-dev (I'm on KDE Neon which is built on 20.04)?

[2021-11-11 18:52] Inventatorul1 commented on #37
I found a fix for windows: after you extract de zip manually place the files in obs directories.
obs-backgroundremoval-0.4.0-win64\data\obs-plugins ----> C:\Program Files\obs-studio\data\obs-plugins
obs-backgroundremoval-0.4.0-win64\obs-plugins\64bit ----> C:\Program Files\obs-studio\obs-plugins\64bit

[2021-11-12 03:19] rygvko commented on #37
Thats not a solution....its the same as standart procedure for installing pluggin for OBS....and defenetely NOT WORKING....

[2021-11-13 23:45] louie-github commented on #38
Thank you!

[2021-11-13 23:45] #38 closed

[2021-11-14 13:45] darkarp commented on #23
Same, with an i7-9700K and an RTX 2080 Super

[2021-11-14 13:53] darkarp opened #54 "Very high CPU usage"
Specs:
CPU: i7-9700K
GPU: RTX 2080 Super
OS: Windows 11
Segmentation model: Robust Video Matting
CPU Usage: over 90% (unsure, total usage goes to 100% so there may be some throttling)

I'd like to first ask others if this is an issue as well, but also more about trying to figure out if there's a way to make this a bit more efficient to reduce CPU usage. To even have it be usable while playing and

[2021-11-17 11:53] fishzle opened #55 "Masking is sometimes incomplete"
OBS 27.1.3, windows x64 and plugin version 0.4.0.
Occurs with all different models (mediapipe, selfie segmentation, the new one, the old ones)
Tried it with both CPU and GPU.

I've noticed that if I make an enclosed space, then the space doesn't get masked.

![mask 1](https://user-images.githubusercontent.com/8211862/142194802-45bdefa7-c5d1-4d63-9959-b8c3475a1bb8.png)

I think it's the same issue

[2021-11-18 19:32] mproffitt opened #56 "Linux (Ubuntu 21.10) GPU Instructions"
I haven't seen anything in the documentation on this, and the code is geared around disabling GPU on any platform other than Windows but I've been playing around with this plugin today and was able to get this working with CUDA on Ubuntu Studio 21.10

To enable this, you need to patch 3 files:

- src/Model.h
- src/background-filter.cp
- CMakeLists.txt

### Patch file
[gpu-linux.diff.txt](https://g

[2021-11-19 02:45] royshil commented on #55
Yes actually this is because i'm using a contour based post-processing step. it helps in removing noise from smaller spots of detection
if you disable "Contour Filter" - it should not be doing this kind of filtering.
Try it out

[2021-11-19 02:48] royshil commented on #54
i'm not 100% sure how to help with that CPU problem. on my Mac it's @ 45% for 1 frame detection and goes to ~20% for 3 frames for detection.
if you don't have the BG remover plugin at all - how much CPU does OBS use?
sometimes OBS for me just uses a lot of CPU for screen capture

[2021-11-19 02:49] royshil commented on #53
yes i haven't gotten around to create it for Arch linux yet.. but it should be easy. i'll try to do it asap

[2021-11-19 02:50] royshil commented on #51
looks like it's working , if it's not crashing
but  maybe your particular camera is giving off a stream that the plugin can't handle
what kind of camera are you using?

[2021-11-19 02:52] royshil commented on #56
this is excellent stuff @mproffitt
can you create a pull request?
i'll clean it up for release so that it works alongside the other platforms

[2021-11-19 04:48] fishzle commented on #55
Awesome. That is exactly what I was missing.
I didn't understand "Contour Filter" when I first set it up.

thank you.

[2021-11-19 04:48] #55 closed

[2021-11-20 07:27] OBS1227 opened #59 "Black Screen"
Hi,
The most recent updates by background remover and OBS has stopped the crashing, but I choose facetime camera then background remover then all the BR options are their before I turn on the BR, but when I turn on BR I see a black screen no facetime of me , but have the option to select a new color.

Mac OS High Sierra
OBS 27.1.3.
Background removal - Current

This is from the log file.

https://

[2021-11-20 13:36] darkarp commented on #54
Without BG remover, OBS runs at around 20% on the CPU. I tried it on my macbook pro and I've experienced something similar to you, it never really goes above 55% with BG remover. My current setup right now is having my macbook doing the BG remover and sending it over to my computer to stream it. Not very optimal.

[2021-11-22 01:15] pbanj opened #60 "a request not an issue"
would it be possible to have it so we can select the area/s we want it to remove instead of it trying to do it automatically?

[2021-11-23 02:02] royshil commented on #59
@OBS1227  the problem is
[code]
It unable to find the model files that are packaged with the plugin
How are you installing the plugin? are you following the instructions?
Ideally I'd need to take a peek at the location where the plugin is installed to see where the files are.

[2021-11-23 02:03] royshil commented on #60
@pbanj  if you just want to mask the video feed manually - use the mask filter, you can load a black-and-white mask image.

[2021-11-23 03:06] royshil commented on #53
i created a GitHub Action https://github.com/royshil/obs-backgroundremoval/pull/61
it builds OK but it doesn't create a distributable package
what would be useful? a `.deb` package?
i can try to make a .deb package.. it might not work for everybody though
it could be a .zip file which you unpack manually (heck .deb is just a zip with a manifest...)

[2021-11-23 05:06] ethaizone opened #62 "Suggestion new model"
Hi @royshil .

I found one ML project that looks promising and it should be great match with this plugin.
https://github.com/PeterL1n/RobustVideoMatting

This project created by same team that create this project. https://github.com/PeterL1n/BackgroundMattingV2
I used BackgroundMattingV2 before when I made virtualcam in Ubuntu. Result is really great when I compared with ML that created for body/h

[2021-11-23 05:14] ethaizone commented on #62
OMG. I just saw latest version and see you included it already. Good job man!

[2021-11-23 05:14] #62 closed

[2021-11-23 16:06] saif-ellafi commented on #42
Hi @fubar-coder  - is it possible to include this in the readme? the links were fundamental to get it working

[2021-11-23 17:40] OBS1227 commented on #59
Yes, that maybe the problem? I drag your OBS-Background removal.so  into the plug in section of the OBS  plugins. I had watched a video many months ago on how to install and may have forgotten some additional installations. Did I? It shows up like the other ones, but black screen. Thank You so much for your time and effort in trying  to help me figure this out. I can see the possibilities.

[2021-11-23 17:57] fubar-coder commented on #42
I don't know cmake good enough (or even at all), but it would be the better solution if you'd be able to specify the install path when calling `cmake --install` - including a hint in the README file. Using the links is IMHO the worse solution. It seems that it's common practice to install everything that's custom-built below `/usr/local`, so the default behavior is correct, but - in our case - und

[2021-11-23 18:19] royshil commented on #59
@OBS1227  dragging just the .so file is not enough... you need the model files.
You can follow the install instructions on https://github.com/royshil/obs-backgroundremoval/releases/tag/v0.4.0 to install
Basically it's something like `$ unzip -o obs-backgroundremoval-macosx.zip -d /Applications/OBS.app/Contents/` once you download the .zip file

[2021-11-23 19:07] royshil commented on #49
@ldsands `apt-get install` will work?

[2021-11-24 05:00] OBS1227 commented on #59
I am really sorry. I don't know how to do the next step. I tried to google an installation like yours, but couldn't find one. Is it enough to take the remaining file and drag/dop it into the OBS folder to fix it? I see programming argon and I don't know where it goes. Again, I wish I understood or have some experience with this, but I don't. Sorry for the inconvenience!

[2021-11-24 15:25] ldsands commented on #49
I eventually figured it out and got it working. Though now I'm running Manjaro for unrelated reasons and installation there is trivial, so it's all moot to me now. I'll put my instructions (I created for myself) below. Maybe it'll be useful to someone else.

## OBS Extensions

- Install [OBS Studio](https://obsproject.com/) - `sudo apt-get install obs-studio`
    - Do not install using snap or fla

[2021-11-24 20:08] ftraxxler commented on #27
If have tried to install it on arch linux with makepkg -s and then pacman -U but my obs also crashes when I am trying to set the filter ? I have the version 0.3.0beta and not the 0.4.0 because makepkg creates 0.3.0 and 0.4.0

[2021-11-24 20:21] adminjw commented on #37
Well, actually - it was the solution for me. For what ever reason when I copy-paste the files directly from the zip to the obs-studio folder, the UI makes me believe that the files have been copied (admin prompt, progress bar, etc..). Afterwards I run into the mentioned issue.

Thanks to @Inventatorul1 I checked for the individual files in the sub-folders and to my surprise, there was nothing to b

[2021-11-24 20:35] royshil commented on #27
@ftraxxler  i'll work on the 0.4.0 for arch linux... should be up soon

[2021-11-25 01:54] OBS1227 commented on #59
I'm sorry I don't understand some of the programming language. $ unzip -o I don't understand. Unless it simply means to just unzip the file. After reading it again does the whole instruction mean to just drag the whole folder after it is unzipped into the contents folder of OBS? I'll give it a try until you get back to me.....if not, I'll try to take a snapshot and you can tell me what I'm doing w

[2021-11-25 02:50] OBS1227 commented on #59
Ok. So at first I assumed the model files are included as part of the initial zip files, but now it appears I need to look for a nd download file? Or, it is included in the initial download and I need to know where to put it? Not sure what  snapshot will do. I just need to put the appropriate files in the appropriate folder. Thanks.

[2021-11-25 08:06] VG08 commented on #44
so am having the same problem, but I don't think there is an arch release for 0.40

[2021-11-25 11:51] ftraxxler commented on #27
Installed it a few seconds ago. Works perfect! Thanks

[2021-11-25 17:20] OBS1227 commented on #27
Packysauce, so sorry I didn't mean to ignore you it's just that I don't know how to reply to comments on this board. I just reread them to see if I can learn something and I saw that you had asked me a question back when I first posted. It's been a while so I have OBS 27.1.3. and the current version of Background removal for Mac. It shows up with all the parameters that can be adjusted, but it's a

[2021-11-26 11:12] NuclearMonster commented on #51
I get the same result with any of the cameras I've tried, the built-in FaceTime camera, Epoc Cam (what I normally use) or a Logitech c920

[2021-11-28 16:19] saif-ellafi commented on #56
Thanks a lot mproffitt

But what a mess this is for Linux... unfortunately.
Had to go through first this PR https://github.com/royshil/obs-backgroundremoval/pull/57
In order to be able to build this one.
But then the plugin does not show up in OBS for Ubuntu Studio, apparently only works on OBS Studio 27.1.3? The one with Ubuntu Studio is 27.0.1 I believe... so installing OBS Studio from the PPA r

[2021-11-29 04:43] VG08 commented on #44
fixed it my bumping the version of the pkgver in PKGBUILD and now it works

[2021-11-30 04:45] DrewskiesAU commented on #37
I still cant get this to work. I have decided to not worry about this one now.

Thank you everyone for trying :)

[2021-12-01 14:46] PhieF commented on #53
Yes an archive we can extract in the right directory would be enough

[2021-12-01 16:37] ghost opened #63 "arch linux obs problem"
ı dont see is this working ??
![2021-12-01-193526_1280x1012_scrot](https://user-images.githubusercontent.com/80429360/144274945-e701b180-39b1-486b-aac9-aae29cf2c461.png)
![Screenshot_2021-12-01_19-37-10](https://user-images.githubusercontent.com/80429360/144274949-49282d57-c76c-42b6-979a-88a41bb6cb4e.png)

[2021-12-02 15:32] ShanghaiTimes opened #64 "OBS Background Removal latest version crashing OBS."
[2021-12-02 15-15-41.txt](https://github.com/royshil/obs-backgroundremoval/files/7643129/2021-12-02.15-15-41.txt)
[OBS Plugin Crash Report.txt](https://github.com/royshil/obs-backgroundremoval/files/7643130/OBS.Plugin.Crash.Report.txt)
These are two crash reports. On from Apple and one from OBS

[2021-12-03 15:55] AlekseiSmirnov commented on #48
I got the same problem. How do I make OBS to detect the filter?
![image](https://user-images.githubusercontent.com/10200871/144632496-7d03543e-fda0-4e5c-8fe8-8e894ca4090d.png)

![Uploading image.png…]()

[2021-12-05 23:21] PixelMelt commented on #63
Same issue on Kubuntu 21.04 x86_64

[2021-12-06 21:40] ifuchs commented on #64
I can confirm that the latest Background Removal tool crashes OBS v27.1.3 under Mojave v10.14.6

[2021-12-08 12:12] cathblatter commented on #64
I can confirm this with OBSv27.1.3 and Big Sur 11.6.1

[2021-12-11 19:16] koofka opened #65 "GPU - DirectML setting does not appear to stick between opening OBS"
Have noticed that on an new open of OBS that CPU usage will spike higher then normal (35% or so with my current settings) and after debugging the issue it appears to be that the GPU - DirectML setting doesnt get set on reopening OBS.  The picklist item is selected, but if I open the Background Removal filter and choose CPU and then reselect GPU - DirectML the CPU usage drops again to the more anti

[2021-12-13 23:32] OBS1227 commented on #64
Hello, I want to share my experience. I installed an earlier version of BR and an earlier version of OBS Mac OS High Sierra. Royshilkrot answered my question that he had not upgraded it for OBS 27.1.3 yet.  Then he upgraded it for 27.1.3. I installed it the best way I knew how and everything is there except the webcam is black. You don't see me at all. I am using the internal Mac camera. He told m

[2021-12-18 17:52] deonblaauw commented on #53
I would also love a Debian package!

[2021-12-20 21:30] tuxfoo commented on #63
It looks like you built the package but did not install it.
`pacman -U obs-backgroundremoval-0.4.0-1-x86_64.pkg.tar.zst`

Also, the PKGBUILD script is building version 0.3 which crashes obs >27
You can update it to build version 0.4. To do this you need to edit PKGBUILD and change the version and checksum
[code]

[2021-12-21 23:42] evil-su commented on #53
Chiming in to mention that I too would love a Debian package :)

[2021-12-23 09:13] celorodovalho commented on #34
I followed all step, but I have this error when trying to compile:

![image](https://user-images.githubusercontent.com/475722/147217427-76e35e79-f910-4cbb-8796-02773cf6cb3d.png)

[2021-12-23 14:10] Zahrun commented on #34
In the pacscript, I use the following:
`cmake -j$(nproc) -DobsIncludePath=/usr/include/obs .. && cmake --build . -j$(nproc)
sudo cmake --install .`
Maybe try this

Otherwise, just use `pacstall -I obs-backgroundremoval-git`

[2021-12-25 14:31] tallship commented on #42
I don't understand why there can't be precompiled ready to go so we just unzip or tar zxf the archive, then dump the directories into `~/.config/obs-studio/plugins` like the instructions for other plugins say to do. Can we have something like that @royshil ? Or is there a reason why it needs to go into `/usr/...`, with or without the symlinks?

The instructions for building from source were very u

[2021-12-29 07:42] hothello opened #66 "Updated install instructions for Xubuntu"
I have installed OBS through the official PPA repository, which does not include the libobs-dev package. There are a number of issues with this route and several comments have addressed them. I am thus sharing an updated version of the install procedure. I hope this helps!
`sudo apt install -y libopencv-dev language-pack-en wget git build-essential cmake`
`wget https://github.com/microsoft/onnxrun

[2021-12-29 22:10] heidiwenger opened #67 "Package as a snap or flatpak for a simple user friendly installation on Linux"
For an easy installation, say, clicking "Install" at Snap Store in Ubuntu, which is the first Linux distro for many new users now coming to Linux. Solus and Manjaro support snaps AND flatpak by default. Fedora defaults flatpak i think, Linux Mint too.

As i read here, many seemed to end up in the world of pain attempting to build from source. Maybe it is time to attempt a creation of a simple pre-

[2021-12-29 22:31] anumerico commented on #67
I am having trouble too, getting segmentation fault in ubuntu 20.04.

[2021-12-30 00:56] anumerico commented on #64
Ubuntu 20.04, obs-studio installed through snap, OBS 27.1.3-modified installed through snap.
obs-background removal gives segmentation fault.
The last relevant lines and error messages for debugging:
https://pastebin.com/raw/4KaqtT1W
Hope you can help me figure it out.

[2021-12-30 00:57] anumerico opened #68 "obs-background removal gives segmentation fault."
Ubuntu 20.04, obs-studio installed through snap, OBS 27.1.3-modified installed through snap.
obs-background removal gives segmentation fault.
The last relevant lines and error messages for debugging:
https://pastebin.com/raw/4KaqtT1W
Hope you can help me figure it out.

[2021-12-30 02:42] jkeys1989 commented on #27
I have 27.1.3 and it crashes every time I try to remove background. Can someone help?

[2021-12-30 11:37] celorodovalho commented on #34
@Zahrun
![image](https://user-images.githubusercontent.com/475722/147748583-07bb34ec-d26b-4e52-acc6-aae436d32d12.png)

[2021-12-30 14:27] Zahrun commented on #34
What linux distribution and version of it are you using?

Can you try the pacstall installation method ? `pacstall -I obs-backgroundremoval-git`

[2022-01-01 18:33] Wolfyxon commented on #37
I tried everything, still filter isn't showing

[2022-01-03 16:50] Kryptortio opened #69 "New model "BackgroundMattingV2""
I found a model developed at University of Washington, paper and examples can be found here
https://youtu.be/oMfPTeYDF9g
http://grail.cs.washington.edu/projects/background-matting-v2/
https://github.com/PeterL1n/BackgroundMattingV2

Also there is a virtual camera example here
https://github.com/andreyryabtsev/BGMv2-webcam-plugin-linux

Judging by the examples the results are very impressive so may

[2022-01-04 02:21] steepestascent commented on #68
Same. `obs[42954] general protection fault ip:7f8914256efb sp:7f88e2b013c0 error:0 in libonnxruntime.so.1.10.0[7f89138d5000+b10000]`.

[2022-01-04 02:33] steepestascent commented on #68
@anumerico  https://github.com/snapcrafters/obs-studio#3rd-party-plugins

[2022-01-04 09:17] GemExperience opened #70 "This is using way too much CPU..."
Please use AMD & NVIDIA encoder, not the CPU.

THANKS

[2022-01-05 01:01] steepestascent commented on #70
@GemExperience I think windows gpu is set to build with cmake. You need to build with `-DWITH_CUDA=ON`. On linux this PR
 #57 enables building for GPU.

[2022-01-05 01:12] steepestascent commented on #56
@royshil #57 is the PR you requested. I was able to build this and run with a GPU on Ubuntu. If you still need time to review other platforms can we update the README in the meantime to let people know GPU works on linux with this PR. If you have already tested the other platforms can we merge #57 to main?

[2022-01-05 01:20] steepestascent commented on #68
Seems like there is a [PR](https://github.com/microsoft/onnxruntime/pull/10122) that may fix the error. I ended up installing obs with apt and adding obs-backgroundremoval with GPU with pr #57.

[2022-01-08 20:36] Artyrm commented on #37
I looked into the log file, and it says:
`23:13:41.510: Skipping module '../../obs-plugins/64bit/DirectML.dll', not an OBS plugin
23:13:41.512: LoadLibrary failed for '../../obs-plugins/64bit/DirectML.dll': The specified module could not be found.
23:13:41.512:  (126)
23:13:41.512: Module '../../obs-plugins/64bit/**DirectML.dll**' not loaded
23:13:41.584: [AMF] Unable to load 'amfrt64.dll', error

[2022-01-08 20:52] Artyrm commented on #37
Dependecy Walker shows several missing libraries:
![image](https://user-images.githubusercontent.com/21180686/148659545-2160aaa6-2433-4c99-afa1-0e007158ef72.png)

Most notably, d2d12.dll - that means no chance for me to get it running on my laptop, since it is Win7.

obs-backround remover requires some more dlls:
![image](https://user-images.githubusercontent.com/21180686/148659658-8ba169da-f700-4

[2022-01-11 06:06] louie-github commented on #69
Judging by the README, it seems that project has been mostly superseded by [Robust Video Matting](https://github.com/PeterL1n/RobustVideoMatting) by the same author.

This has already been implemented in commit 8a193d773c1a004206f372e9a2a1ef286138dfd6.

[2022-01-11 15:39] Kryptortio commented on #69
Damn, guess I should have looker a bit deeper. I couldn't really imagine that it was based on the same thing because when I've tried it I haven't gotten anywhere near results that good even with an ideal background like a green screen.

[2022-01-11 15:39] #69 closed

[2022-01-11 16:19] blitz opened #71 "Build without Git"
I'm currently trying to package this plugin for [NixOS](https://nixos.org/). For packaging this plugin, it would be nice to be able to build it without having to download the complete Git history. The build process requires this currently, though, due to:

[code]

in `CMakeLists.txt`. I currently work around this by manually patching this away. Instead, it would be nice to be able to specify a ver

[2022-01-14 21:33] Stoermy opened #72 "Plugin doesnt Show up"
Hey, first the Folder Background removal is there but it doesnt show up in OBS 64 bit under Cam and Filters.... idk where the Problem ist.

It is installed right.

[2022-01-16 19:51] podycust opened #73 "Plugin not build for Apple Silicon (ARM64)"
When loading an ARM64 build of obs the plugin doesn't show up but if using an intel build its shows and works fine

[2022-01-17 03:44] heather567 commented on #64
Crashing OBS with High Sierra 10.13.6
I have installed correctly, OBS working fine before 'background remover' install.
I can see it in the filter list, but crashes when in studio mode trying to do a simple transition, every time.
Is there anything else I can do to fix this from crashing, I SO want to use the plugin!
Thanks

[2022-01-17 04:26] OBS1227 commented on #64
I just wanted to say, "Kudos to Mr. Shilkrot for taking the time and work on creating this software". I can see the possibilities, but I'm going to take a break from it now. I didn't have any projects or anything that I wanted to do, so I had fun playing around with it. However, I am planning on using OBS to give Zoom music lessons and BR makes it crash a lot. Furthermore, it appears I can't use t

[2022-01-17 11:58] taidos commented on #72
Im on the same situation with all the latest versions

[2022-01-17 13:07] dontcrash opened #74 "FPS drops to < 15"
When enabled either on GPU or CPU, the FPS in OBS drops from a solid 60 to less than 15, this is unusable.
My GPU and CPU also report low usage, I am not sure what is going on here.
The filter does work but is obviously slowing something down.

[2022-01-17 13:54] metzger100 commented on #23
Small Update: I switched to Ryzen 5 1600X and the Issue is still the case.
My CPU Usage is aboput 40% but the FPS drop to 12-22 FPS. I don't why. It wouldn't be an Issue if the Plugin uses more CPU, but it doesn't and begins to reduce the FPS. It looks like it is kind of inefficient after the Segmentation of Zoom, Google Meet and co use way less compute power. Or it is a Problem with Windows 10.

[2022-01-17 15:07] metzger100 commented on #74
#23

[2022-01-17 19:46] faastcall commented on #64
Cannot replicate on Arch Linux x86_64, 5.16.1-zen1-1-zen, seems like specifically an issue with the MacOS build.

[2022-01-17 21:43] donfmorrison commented on #27
Crashing here also as soon as I add the Background Removal filter.
* OBS 27.1.3
* Background Removal tool 0.4.0
* Mac OS Monterey 12.1

[2022-01-17 21:49] royshil commented on #27
Can you please post the OBS logs here? (Or the relevant section of them)
You can view the logs even after the program crashed by looking in the help menu and selecting to find the location of the log files.
They are just .txt files. Look at the latest one
Thanks

[2022-01-17 21:58] donfmorrison commented on #27
Latest log from crash - doesn't seem very helpful though?
[code]

[2022-01-17 22:14] royshil commented on #27
Hmm. There not an explicit error there
But I suspect the "ext camera" which sounds like an external camera?
Can you try first with your internal camera? E.g. the embedded camera in your laptop
Or just in general a different camera
Because it might be an issue of the frame not coming in properly or in a way I know how to parse...

[2022-01-17 22:33] OBS1227 commented on #27
In terms of my situation I uninstalled BR because I need to use the built in "Virtual Camera" so that Zoom can recognize OBS for my lessons. Unfortunately my logs don't go farther than the day I uninstalled it. I'm not a programmer so reinstalling it takes some time in order to recreate the issue. Virtual Camera shows up, but doesn't activate when clicked on unfortunately. Until I can get some tim

[2022-01-17 22:42] donfmorrison commented on #27
Tried my internal "HD Facetime Camera" and got the same kind of non-error. Pretty useless logs.

Is it possible I'm missing some pre-requisites or something?

[2022-01-17 23:40] royshil commented on #27
It's not unlikely that it's because of the MacOS version you're running. Possibly the shared libraries have a mismatch. The only way to get around that will be to build the plug-in again from scratch on 12.1.
Otherwise - did you verify the files from the plug-in were installed in the right folders?
(Although if the files weren't found it would go up in the logs)
So my current bet is on the OS vers

[2022-01-18 01:14] OBS1227 commented on #27
in response to your last question as to if it's installed properly. I am not sure. I right clicked on OBS and i dragged the app to that folder that was in your instructions. I opened it up and guessed as to where each belonged as I am not a programmer. It took me many times and I finally saw everything that I should be seeing in your plugin. I could get it to work for sometimes a few minutes and s

[2022-01-18 02:56] donfmorrison commented on #27
@royshil I have built from source and still getting the same behavior and error on OS 12.1 - At this point, I'll just have to be patient and wait for you to upgrade to 12.1. Thanks for putting this together and for continuing to support it.

[2022-01-18 03:06] OBS1227 commented on #27
I know that we can create multiple OBS's, but I am unclear as to if the build or foundation is the same for all. I  mean if I am on ne OBS will it contain the same plugins as the others? If I can install a separate OBS I will do that to experiment, but right now it's too risky timewise to be able to have a unreliable OBS to get it back to the reliable for my lessons. Otherwise I would. Thanks for

[2022-01-18 04:00] OBS1227 commented on #64
I couldn't wait for an answer. LOL. .Don't quote me on this, but it appears that your plug in doesn't show up in copies of OBS. Well at least in the right spot. LOL.  In the copy it shows up in effects filters and does nothing, so I'm hoping that I could play around with it and still use the unaffected copies OBS. Funny. I thought that when I installed it a day or so ago that it showed up in all t

[2022-01-18 04:26] OBS1227 commented on #64
Ok. So I am about to go to bed and Background Remover has not crashed in OS High Sierra 10.13. 6. It's been on for at least 25 min. YES!  I am really happy about that! But choosing  Robust Video Matting still crashes, but  everything else seems stable. Now, if others are getting good results I would work on trying to get the selection around some parts of your body to stop shimmering (don't know t

[2022-01-18 04:32] StoneBlazin commented on #27
@royshil just want to say thank you for your efforts on this amazing plugin.

@donfmorrison hey man i was using 0.4.0 and it was crashing pretty much instantly on startup or whenever i messed with the settings too long and so i deleted all traces of the plugin from OBS contents folder and unzipped 0.3.0 into the app instead and it has crashed a few times but nothing like before i can actually use

[2022-01-18 06:56] ZlowrogiTuru commented on #34
Using pacstall to install obs-backgroundremoval removes obs-studio in a processes. Tried this mutliple times and at the end I can't launch obs anymore.

[2022-01-18 08:44] Zahrun commented on #34
Please refer to my previous answer https://github.com/royshil/obs-backgroundremoval/issues/34#issuecomment-942689271

[2022-01-18 18:54] dynamodan commented on #66
When trying to compile this on ubuntu 18.04, I get an error:

[code]

[2022-01-19 00:31] OBS1227 commented on #64
So it appears that Robust Video Matting works! However, I click on it OBS crashes. I reopen OBS and I select it one more time and it works. This is my log file. Thanks.:
[2022-01-18 16-10-58.txt](https://github.com/royshil/obs-backgroundremoval/files/7893211/2022-01-18.16-10-58.txt)

[2022-01-19 11:25] hunsnowboarder commented on #72
Same situation here....

[2022-01-19 21:31] royshil commented on #27
@jkeys1989  the background removal plugin is never being loaded... can't see it in the logs
Can you verify the `.so` files are in the right location in the plugins folder of OBS?

[2022-01-19 21:31] tabjy commented on #72
Possible duplicate of #37?

[2022-01-19 22:09] OBS1227 commented on #27
@donfmorrison, Thanks! I meant the same version of OBS. I got this idea when I tried to reinstall OBS. It would ask me if I wanted to replace or keep both. I kept both, so then they start automatically numbering and  I get the impression that it does, but not exactly. BR shows up in effects as opposed to the audio visual filter that it should be when properly installed. The error I would get is th

[2022-01-19 22:25] OBS1227 commented on #27
If this is a repeat of this message I apologize. I started to compose it and I went looking for error logs and couldn't find the window again. It seems that Robust Video Matting makes it crash, but not always. If I start it several times it will start up and last for good periods of times,  Mac OS High Sierra  OBS 27.1.3.  Thanks!
[2022-01-19 16-43-57.txt](https://github.com/royshil/obs
[2022-01-1

[2022-01-19 23:42] OBS1227 commented on #27
One more thing that might be helpful. I installed it on OBS 27.2 Beta and first thing it crashed, so I uninstalled it the way I know how (figured out on my own.)  and BR shows up in effects with no properties. Not sure if the aforementioned info helps. My installation process. Don't know if it is correct or not. I followed this: I copied the .so file into the OBS plugin folder and the  BR plugin f

[2022-01-22 05:42] StoneBlazin commented on #27
for anyone that cannot get the plugin to work there is one workaround i know: download snap cam which lets use a green screen filter then select that as the source for any camera you add to OBS

[2022-01-25 15:12] sudolcious opened #75 "Not available on browser-source"
Hey Guys, Hey Roy.

Amazing plugin, really. I would just like to ask if it would be possible to make it available on sources that aren't video inputs. In my case i'm specifically talking about browser sources, because my camera feed is going straight from my iPhone via vdo.ninja into obs. I'm not sure how much of a hassle it would be to implement this, but if it's not too much trouble I'd be delig

[2022-01-26 10:06] OlivierPicotAtPontBas opened #76 "Installation of obs-backgroundremoval on ubuntu 20.04 with pacstall"
Hello.

I try to install obs-backgroundremoval on ubuntu with pacstall. Everithing seems ok, but the new filter does not appear in filters store when i try to setup it.
Looking the pacstall intallation, i find thoses messages:

[code]

Could anybody help me, please ?

[2022-01-27 17:54] MadMartian commented on #34
You could build your own deb, but I found this was easy enough to build from source.
Even the CUDA GPU version was fairly straightforward (had to use ONNX v1.7.0, other than that pretty straightforward)

[2022-01-27 17:57] MadMartian opened #77 "Changing Camera Resolution Crashes OBS"
When changing the web cam resolution while the background removal filter is running OBS crashes and the camera resolution setting is lost.  This occurs on at least both Windows 10 and Linux Ubuntu 20.04.

Refer to [this forum post](https://obsproject.com/forum/threads/obs-crash-when-changing-webcam-resolution-logs-included.152275/) for logs.

**Work-around:**
- Disable (make non-visible) the backg

[2022-01-28 09:14] fubar-coder commented on #76
`%d` should be changed to `%zu`

[2022-01-29 06:24] frdsofficial commented on #34
When I try to install `pacstall -I obs-backgroundremoval-git` I got this message: [!] ERROR: You seem to be offline . What can I do? I'm using Lubuntu 18.04.

[2022-02-04 13:02] uniqueum commented on #23
AMD Ryzen 7 2700X here with an RX 580 8GB -- so I genereally let the CPU handle all the rendering.
Either way, whether I choose CPU or GPU, my FPS drops way below 15 (with Robust Video Matting even below 10), even though the CPU shoots to a rocket 40%+.

Would love to use the plugin for streaming and/or recording, but as of now it's quite frankly unusable. :/

[2022-02-05 18:27] jpotyka commented on #68
I can reproduce the problem on arch using the `obs-studio 27.1.3-3 ` package from the community repository too.
After cloning the github repository for `obs-backgroundremoval` on commit `e078002` and building the plugin, obs crashes if you add the filter to a camera with the following error:

[code]

[2022-02-05 21:46] alphaville commented on #64
I'm having the same issue on MacOS. You can find my [log file here](https://pastebin.com/5hmq07t7) in case it helps.

[2022-02-07 03:27] OBS1227 commented on #68
Same.

[2022-02-07 12:23] voltumna opened #78 "Cmake error during installation on Ubuntu"
Hi,
I have Ubuntu 21.04 and am trying to install this plugin, i followed the instructions to the letter,  but it fails at the **cmake** part:
it returns
`CMake Error: The source directory "/home/.../Downloads" does not appear to contain CMakeLists.txt.`

![image](https://user-images.githubusercontent.com/1274922/152787016-eef655b4-5c84-41fd-820b-e77c88130097.png)

Can you help?.
thanks
Maurizio

[2022-02-08 08:28] voltumna opened #79 "Ubuntu installation of pacstall -I obs-backgroundremoval-git fails"
I am trying to install the background remover using pacstall on ubuntu 21 with OBS from the ubuntu version, which is the 26.1.2

`
rm -rf .config/obs-studio`
`sudo apt remove obs-studio --auto-remove`
`sudo add-apt-repository ppa:obsproject/obs-studio -r`
`sudo apt update && sudo apt install obs-studio`
`pacstall -I obs-backgroundremoval-git
`

but I am getting the following error,

![image](https

[2022-02-09 07:46] Sitolam commented on #78
You must also clone the project. Then you must make the build directory in the cloned directory.

[2022-02-10 08:30] ngoonee commented on #56
Am so glad this has finally been merged. It works fine with 1.7.0, but 1.9.0 requires the includes for `cuda_provider_factory.h` to be removed from `src/background-filter.cpp` and `src/Model.h`

Also as previously mentioned, need to link it to the gpu version of onxxruntime. Selecting CPU or GPU doesn't do anything because it will always use GPU. https://github.com/royshil/obs-backgroundremoval/pu

[2022-02-11 16:57] ronoaldo commented on #53
I have attempted to install from the build instructions and copy the files into obs plugins folder (using Flatpak OBS). It failed to load a .so file (not sure how to fix that, the .so is installed in my system as per instructions for libonn*)

Would love a Flatpak compatible way - I can try to check the build instructions as they seem to be prepared to generate the .deb (and that worked for me on

[2022-02-16 00:23] deymisluis commented on #34
The same occurs in Xubuntu 20.04.

[2022-02-16 13:46] lluio commented on #37
@KeysiJones jones solution worked for me on Ubuntu 21.04 :)

[2022-02-16 13:59] KeysiJones commented on #37
I'm very happy that it worked for you @lluio  !!! have a nice day !!

[2022-02-16 23:22] vxf commented on #27
@royshil I've been using this plugin in all my meetings ever since and almost forgot this thread, 0.4.0 works great! I have yet to try enabling GPU also

[2022-02-17 11:10] KamaCZ commented on #22
Hi, my obs keeps crashing on my Mac after installing the background removal.  Any help? Here is the crash report:

Translated Report (Full Report Below)
-------------------------------------

Process:               obs [3461]
Path:                  /Applications/OBS.app/Contents/MacOS/obs
Identifier:            com.obsproject.obs-studio
Version:               27.1.3 (27.1.3)
Code Type:

[2022-02-22 09:45] jambt opened #80 "Version 0.4.0 does not work with OBS 27.2.0"
I updated OBS to 27.2.0 recently and OBS background removal stopped working. Even after a reinstall, the previously working configuration only shows empty controls and I cannot add the background removal as a new filter.

OS: MacOS 12.2.1
OBS: 27.2.0
obs-background-removal: 0.4.0

[2022-02-22 23:06] javabrett commented on #80
@jambt that version combination is working for me here, but note that the OBS upgrade on MacOS will delete any previously-installed extra plugins like this one.  Have you reinstalled the plugin post-upgrade?

[2022-02-23 17:09] kapulkin opened #81 "MODNet for better portrait segmentation trained in AISegmentation dataset"
I would like to offer MODNet model trained during hackaton on https://www.kaggle.com/laurentmih/aisegmentcom-matting-human-datasets

Hackaton repository with train loop code and kaggle notebook is here: https://github.com/PP22MotionLearning/MODNet

Pretrained weights are here: https://drive.google.com/file/d/1mshivzbkzsb_e97Xf7Y3u-1LKp0hvMkh/view

Result looks pretty good:
![2022-02-20_13-16-07](h

[2022-02-24 12:27] jambt commented on #80
@javabrett : Thank you for your response. Indeed, after I updated to 27.2.1 today and reinstalled, it now works again. Probably a quirk on my machine then.

[2022-02-24 12:27] #80 closed

[2022-02-24 22:44] OBS1227 commented on #27
Well, I'm happy to report that i am enjoying this plugin. I am so glad that I stuck with it. I installed it on Mac OS Catalina on an external  drive on OBS 27.1.3. with what I have been using it for so far it works with no crashes. I am not a gamer and haven't done this with any live situations yet, but have had OBS open for long periods of time. The RVM still needs either some instruction by way

[2022-02-24 23:05] richtong commented on #73
It probably needs to be built as a universal binary

[2022-02-27 16:34] OBS1227 commented on #64
I got it to work on OS Catalina Here goes. Good luck!:
The Installer Zip:
-Download BR to your hard drive.
-Unzip it. Place it where you can access it on your hard drive.
You will see two folders: Plugins and Resources. You will need to install the contents of the folders from them separately.

OBS app on your Mac:
-Go to your Mac applications folder.
- Right click on the OBS App. You’ll see “Show

[2022-03-01 18:06] Mte90 commented on #56
I did also that change in background-filter.cpp on line 190 as on Debian the path is different and the obs_find_module return an empty string

[code]

I also compile everything with those commands:

[code]

[2022-03-02 12:37] patryk-bernasiewicz commented on #64
@OBS1227  Unfortunately it still doesn't work - I still get the error that OBS is damaged and needs to be removed from Applications.

The tip to try and paste the files directly into the correct folders was a good try though!

[2022-03-05 14:44] chfeizy opened #82 "convertBGRToFrame is error"
<img width="901" alt="image" src="https://user-images.githubusercontent.com/6427629/156888165-aac8bdf5-aa6c-42b4-b96a-d7e78ed34189.png">

an I change the convertFrameToBGR

static cv::Mat convertFrameToBGR(
	struct obs_source_frame *frame,
	struct background_removal_filter *tf
) {
	const cv::Size frameSize(frame->width, frame->height);
	if (tf->scalerToBGR == nullptr) {
		// Lazy initialize the fr

[2022-03-05 22:46] PyonPyonPichu opened #83 "High Avererge Render Time"
Hi there,

I am attempting to use this tool but as soon as it is active, my average time to render frame jumps from 0.9ms to 15-20ms. Is there a setting that can change this?

[2022-03-06 04:35] chfeizy commented on #82
<img width="663" alt="image" src="https://user-images.githubusercontent.com/6427629/156909369-bbfb44a8-c660-44f5-a6e5-c733267b2d44.png">
after imageBGR.setTo(tf->backgroundColor, backgroundMask);
the imageBGR.data

[2022-03-06 13:51] chfeizy commented on #82
use obs 27.1.3 is the same error

[2022-03-08 04:59] Alvazz commented on #81
Thanks for sharing, but Google Drive can't access, no permission

[2022-03-13 00:13] thatcomicsguy commented on #59
The install instructions on Github are always kind of cryptic and unsettling for dummies like me.  They rarely match anything I actually see on my computer screen and I have to play "guess-what-the-engineer-means".  Or I'm asked to use commands like, "dollar sign something something" which means.., I have no idea what.  I'm using Winzip with drag and drop features and some dropdown menus.

Sometim

[2022-03-13 11:49] bentenjamin opened #86 "Fedora GPU Failed to load shared library"
Hey, I am compiling from source on Fedora 35 and having issues trying to get the GPU compiled background removal to work.

Here are the steps that I followed:

- Installed the official nvidia drivers and confirmed that the cuda drivers are working by using their cuda samples
- $ export ONNX_VERSION=1.10.0
- $ wget https://github.com/microsoft/onnxruntime/releases/download/v${ONNX_VERSION}/onnxrunt

[2022-03-14 11:13] rainbow-dolly opened #87 "DirectML + AMD GPU does not seem to work"
I am using an updated Windows 11 system, OBS 27.2.3 and the Radeon Software 22.2.3 with AMD Radeon RX 6800 card.

When I switch to GPU (DirectML) in the plug-in (Version 0.4.0), nothing changes. My CPU still gets loaded at around 60% and no load goes to the GPU (I swap between CPU and GPU multiple times and nothing changes). Am I missing something to use this with my GPU, is my GPU not supported o

[2022-03-15 07:20] datakurre commented on #81
@kapulkin Would you be able to help torch-onnx-newbie, how to properly convert the weights into onnx format?

I tried with pytorch 1.7.1 and the scripts at https://github.com/ZHKKKe/MODNet/tree/master/onnx

I got the following warning

  warnings.warn("The default behavior for interpolate/upsample with float scale_factor changed "

ONNX's Upsample/Resize operator did not match Pytorch's Interpolat

[2022-03-15 22:50] Maikuh commented on #56
Seems to not be working anymore. the `git apply` command fails; looks like the repo has changed since then and I'm just getting a black screen when enabling the filter.

[2022-03-16 11:06] Mte90 commented on #56
I had to the blank filter and it was on my tests a wrong compile because wasn't able to find the files, my patch above fix that issue forcing the right path

[2022-03-17 03:14] fabiomb commented on #87
i think the same happens with NVidia, i don't see a change in CPU use, is always over 70%

[2022-03-18 03:46] khionu commented on #53
Bumping this issue, as anything (zst, deb, or tar.gz) would be better than nothing.

[2022-03-19 12:53] Zahrun commented on #79
Hello Maurizio,
These warnings are ok, the background remover should work.
Please check the filter section of a video capture item.
It will be in "Audio/Video filters" section, not the other one "Effect filters"
![image](https://user-images.githubusercontent.com/10415894/159121836-8e91aaf5-92c5-4a85-9232-7fac80c809e9.png)

[2022-03-19 12:56] Zahrun commented on #76
Please check my answer there https://github.com/royshil/obs-backgroundremoval/issues/79#issuecomment-1073004728

[2022-03-19 13:02] Zahrun commented on #34
I installed Xubuntu 20.04 in a VM and installed obs-studio, pacstall, and obs-backgroundremoval-git.
It works fine.
Are you connected to the internet when you install the pacscript?
Try:
[code]

[2022-03-19 13:29] Zahrun commented on #34
Actually it seems to be a pacstall bug https://github.com/pacstall/pacstall/issues/516 and https://github.com/pacstall/pacstall/issues/502
So first try the above
[code]
If that does not work you can do this:
[code]

[2022-03-19 13:44] voltumna commented on #79
Thank you,
I will check it out, but meanwhile I have to say that I have given up,
you can close this case and possibly later I will try.

Thanks again
Maurizio

[2022-03-19 15:26] ElSaico commented on #87
Same here, on Windows 10 with a Radeon 5600XT card. The OBS logs show this:

[code]

This error seems to have been reported on microsoft/onnxruntime#6457 also - perhaps it's not loading the provided DirectML?

[2022-03-19 15:43] Zahrun commented on #34
I installed Lubuntu 18.04 in a VM. For the error you mention, please see my above answer. But then you will get a OpenCV version compatibility issue
[code]
Either move to Lubuntu 20.04 or find an updated version of OpenCV somewhere. There might be other issues after this but I would recommend update to Lubuntu 20.04 anyway. Or 22.04 soon.

[2022-03-20 08:43] datakurre commented on #81
I'd guess this error I get from obs-backgroundremoval is related to the warning that I get during ckpt to onnx conversion

[code]

[2022-03-21 07:36] akshat-khare opened #88 "Macos installation crashed obs."
I recently installed the plugin by following the steps listed. App crashes as soon as filter is added and keeps on crashing :(
I am on Macos Monterey. Any help would be appreciated.

[2022-03-22 12:13] catcutecat commented on #88
Same here.

maxOS Monterey Version 12.2.1
OBS 27.2.2

[2022-03-23 13:28] bimsonz commented on #88
Experiencing the same issue.

MacOs Monterey Version 12.0.1
OBS 27.2.2

[2022-03-23 15:37] bukshanekom commented on #88
Same issue here... sometimes it runs for a few seconds and then crashes OBS... here is the crash report if it helps:

-------------------------------------
Translated Report (Full Report Below)
-------------------------------------

Process:               obs [83832]
Path:                  /Applications/OBS.app/Contents/MacOS/obs
Identifier:            com.obsproject.obs-studio
Version:

[2022-03-23 23:57] CarmeloCampos opened #89 "Installation in fedora?"
I have tried to follow the steps for ubuntu changing the commands for fedora, installing the libraries manually, and even so it gives me an error to get the libraries, I would like to know if you can implement a guide for fedora. <3

[2022-03-29 06:03] OoiHS opened #90 "Add plugin to "Effect Filters" instead of "Audio/Video Filters""
Greetings,
Is it possible to add this plugin under "Effects Filters" instead of "Audio/Video Filters".
This way we could perform background removal with any sources instead of only camera source.

![image](https://user-images.githubusercontent.com/45958279/160543688-ed302e8c-b1ff-446d-99c5-00f50faa0ee4.png)

[2022-04-01 06:29] toebbel commented on #88
I faced the same issue on Mac (OSX 12.3). I had to remove OBS, upgrade to the latest version as stated in the readme (Version: 27.2.4), re-install the plugin. That fixed the issue.

[2022-04-03 03:33] Technetium1 commented on #27
Working great for me via https://aur.archlinux.org/packages/obs-backgroundremoval

[2022-04-08 17:10] Schlaubergen opened #91 "Missing installation steps for Linux"
Hello,

is there a complete installation instruction for a linux newbie like me? I am using Linux MX, based on Debian.

The [first three steps](https://github.com/royshil/obs-backgroundremoval#ubuntu) seemed to work well (sudo / wget / sudo), except:

At the very first time I missed the "sudo" in the first line, therefor I accidently installed it as root and not as user. I don't know if a deinstal

[2022-04-09 15:00] bnoffer opened #92 "Updated installation steps on macOS 12 (Monterey)"
Hi everyone,

this might also apply already for macOS 11 (Big Sur). The installation guide provided in the release section will cause OBS to stop working since it will corrupt the Application Checksum and macOS will block execution.

Instead the plugin needs to be installed into ``/Library/Application Support/obs-studio/plugins`` with the following folder structure:
![Bildschirmfoto 2022-04-09 um

[2022-04-09 15:45] xgorjess commented on #92
Hi, thanks for this -- my obs crashed about 100x this morning after installing with initial instructions. HOWEVER, I do not have an obs-studio folder in my Application Support folder. What do I do??

[2022-04-10 16:29] ubeogesh commented on #87
Same issue here on GeForce. Windows 10, RTX 2080 Ti.

I also get the "interface not supporter" error.

`18:29:33.376: [obs-backgroundremoval] Exception during initialization: D:\3\s\onnxruntime\core\providers\dml\DmlExecutionProvider\src\FusedGraphKernel.cpp(64)\onnxruntime.dll!00007FFF340963BD: (caller: 00007FFF34095978) Exception(3) tid(34d4) 80004002 No such interface supported`

[2022-04-10 18:56] Schlaubergen commented on #91
Ok, with a new research I finally found the solution in the [MX Linux forum](https://forum.mxlinux.org/viewtopic.php?t=41483).

Right after the first three steps (sudo / wget / sudo) this is needed:
[code]
At first I was disillusioned, but then I saw that there were also steps to do after the two lines "mkdir" and "cmake". Until then I thought that everything below was only relevant for Nvidia use

[2022-04-12 20:09] Supermagnum opened #93 "Install commands removes osb studio on Linux Mint 20.3"
sudo apt-get install libobs0
that removes obs-studio.
Also, libobs-dev is dependent on libobs-dev.

Trying to reinbstall obs-studio removes the  libobs0 and  libobs-dev.

The obs studio version is from the ppa ( deb http://ppa.launchpad.net/obsproject/obs-studio/ubuntu focal main )

I have mentioned the issue on the linux mint forum:
https://forums.linuxmint.com/viewtopic.php?f=47&t=371867

[2022-04-13 00:49] dangom commented on #92
Tried on Big Sur and this will still cause the app to crash.

[2022-04-13 01:09] dangom commented on #92
Built from source. Still crashes.

[2022-04-22 18:03] bnoffer commented on #92
I have folders in both locations, but plugins are in the `/Library/Application Support` folder and not in `~/Library/Application Support`and since installing this way 0 issues with the plugin except for the expected high cpu load when using it.

[2022-04-30 04:32] DarkVoidGames opened #94 "droidcam obs"
So I've installed the obs-backgroundremoval plugin, and it completely removes video feed from droidcam obs. I wanted to use the background removal plugin to remove my background instead of having to assemble my greenscreen when I wanna stream or record for YouTube and twitch and disassemble it when I wasn't using it. So I figured I'd try this out, pretty much doesn't work with droidcam obs, since

[2022-05-01 00:28] royshil commented on #93
@Supermagnum where are you seeing the instruction to `apt-get install libobs0`?

[2022-05-01 00:29] royshil commented on #92
did https://github.com/royshil/obs-backgroundremoval/pull/85 resolve the problem?

[2022-05-01 00:30] royshil commented on #91
@Schlaubergen can you put up a pull request with the right instructions in the README?

[2022-05-01 00:31] royshil commented on #90
Unfortunately this can't be done... the low level OBS frame processing API for filters only allows per-pixel "shaders" and not full processing of the entire image - which is needed for the neural network.

[2022-05-01 00:32] royshil commented on #89
@CarmeloCampos i'm not a Fedora user as well... maybe you can find some help online? in a forum?
we can also make a docker script that will build the plugin on a fedora base.

[2022-05-01 00:33] royshil commented on #88
do people still encounter this problem? even after upgrading to 27.2.4?

[2022-05-01 00:37] royshil commented on #87
@ubeogesh can you try to zap the directml.dll from the plugin all together and see if it catches on the system32 one?
it might be the resolution here - to not include the dll in the plugin at all

[2022-05-01 00:38] royshil commented on #86
@bentenjamin can you write the Fedora install instructions in the README plz? put a pull request...

[2022-05-01 01:35] royshil commented on #83
@PyonPyonPichu unfortunately there's overhead for calculating the image mask with the neural network

[2022-05-01 01:36] royshil commented on #82
@chfeizy its possible the problem is with the incoming frames
what are you using for video source? is it a camera? which kind?

[2022-05-01 01:38] royshil commented on #81
any resolution regarding the converted ONNX model @datakurre @kapulkin ?

[2022-05-01 01:40] #79 closed

[2022-05-01 01:52] royshil commented on #77
You may want to add a check in https://github.com/royshil/obs-backgroundremoval/blob/e707b3a20fe34432ee0cecb35ecea8e24d0c2542/src/background-filter.cpp#L489 to see if the resolution has changed since the last frame - and then invalidate the scalers (the code will pick up on that and create new scalers according to the new resolution). Just call `destroyScalers(tf);`, or https://github.com/royshil/

[2022-05-02 16:34] felipesabino commented on #88
just upgraded t o27.2.4 and still faced the same crash when using it

[2022-05-04 16:20] jessebl commented on #89
@CarmeloCampos , which libraries are you having trouble with? Most Fedora libraries are listed as `-devel` instead of `-dev`, and sometimes might have the `lib` prefix omitted.

[2022-05-07 23:11] raag commented on #89
Hello I managed to found a way to install it in fedora, if you want you can check it out at this PR https://github.com/royshil/obs-backgroundremoval/pull/95

[2022-05-08 07:43] ShadowStorm0 opened #96 "Can now Install. [Commit bedcaf9. Refer to @Zahrun] Ubuntu 22.04 LTS"
Using OBS-STUDIO PPA

ERROR:

CMake Error at CMakeLists.txt:106 (find_package):
  By not providing "Findlibobs.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "libobs", but
  CMake did not find one.

  Could not find a package configuration file provided by "libobs" with any
  of the following names:

    libobsConfig.cmake
    libobs-con

[2022-05-08 22:08] Supermagnum commented on #93
What I did :
 I did sudo apt install -y libobs-dev libopencv-dev language-pack-en wget git build-essential cmake libsimde-dev .
libobs-dev is dependent of libobs0, and libsimde-dev cannot be found.

Please chek that your bild and install instructions are up to date, as https://github.com/microsoft/onnxruntime/releases/download/v1.7.0/onnxruntime-linux-x64-1.7.0.tgz is replaced by 1.11x .

[2022-05-09 14:46] fstelte commented on #96
I have the same on ubuntu 22.04

[2022-05-09 19:26] Sudneo commented on #96
Hello, I am having the same issue as @Zahrun . Once fixed the `libobs` issues, now getting:

[code]

The problem is that I cannot find any information at all about those files, unlike for the libobs config files:

[code]

It seems that none of the packages required for installation provide this file.
I tried to "fool" the build process by creating an empty file matching the name, just in case it w

[2022-05-09 19:52] Sudneo commented on #93
Just as a FYI, I also got tricked into install `libobs0` because of this message when running the suggested commands:

[code]

This is on Ubuntu 20.04

[2022-05-09 20:11] ShadowStorm0 commented on #96
@Sudneo I found the file "obs-frontend-apiConfig.cmake.in" in the Github Repository.
Any idea what the .in suffix means?

The Path: ~/obs-studio/UI/obs-frontend-api/cmake

[2022-05-09 21:03] Sudneo commented on #96
That's a good find, I guess it could be 'init' maybe, I turned off my pc now, but tomorrow I think I will try again and I will try using that file. It should be picked up if placed in any $PATH location. I am not very familiar with Cpp in general, so I have quite a hard time dealing with this dependency issues, unfortunately.

[2022-05-09 21:14] uniqueum commented on #96
Cannot really help out with the Linux side of this, just following the whole git, as I'd love to know about updates.
Nevertheless, seeing as a lot of things are happening here currently AND there doesn't seem to be a space - as such - for that, do join my Discord ( https://discord.gg/St3bssyX ) and head over to #obs-backgroundremoval for LIVE DISCUSSIONS.

Cheers!

[2022-05-09 21:46] ShadowStorm0 commented on #96
@Sudneo this is the Command I use now. I created a symbolic link to create a new file called 'obs-frontend-apiConfig.cmake' but it outputs an Unknown argument error.

Command:
`cmake` .. -Dlibobs_DIR=/usr/lib/cmake/LibObs -obs-frontend-api_DIR=/home/origins/Downloads/obs-studio/UI/obs-frontend-api/cmake && cmake --build . && sudo cmake --install .`

Error:
`CMake Error: Unknown argument -obs-front

[2022-05-09 22:05] ShadowStorm0 commented on #96
Actually now that I just noticed it, why is there a 'D' prefix in 'Dlibobs_DIR'.
I do not see it mentioned anywhere in the CMakeList

Asking because of the second symbolic link I created for "obs-frontend-apiConfig.cmake"

[2022-05-10 10:39] Zahrun commented on #96
It seems even the github CI failed for the latest commit https://github.com/royshil/obs-backgroundremoval/runs/6264276409

So, as a workaround, until @royshil replies, I use this:
`git checkout bedcaf973424a05d2cfff1dc1295f5b516f82cd2`
To go back to the latest buildable state and then build as usual

[2022-05-10 12:32] royshil commented on #96
Yes this is the new plugin architecture they released. Something changed and I'm figuring out what it is
You'll notice in the logs on OBS that the plugin complains about mismatched size of the info strict, this is because of versions discrepancy between the 27.2.4 branch and the main branch. Plugins are not backwards compatible

Still working it out...

[2022-05-10 13:04] Zahrun commented on #96
In commit https://github.com/royshil/obs-backgroundremoval/commit/bedcaf973424a05d2cfff1dc1295f5b516f82cd2, the plugin will appear fine in Audio/Video Filters list.
The plugin .so file has to be installed in `/usr/lib/x86_64-linux-gnu/obs-plugins/`obs-backgroundremoval.so
And the folder in be in `/usr/share/obs/obs-plugins/`obs-backgroundremoval/ here you have the locale folder and onnx files

[2022-05-10 19:03] ShadowStorm0 commented on #96
@Zahrun For some reason there was no obs-plugins folder in `/usr/lib/x86_64-linux-gnu.` I dropped the .so file in `/usr/lib/obs-plugins,` and it worked. The locale folder and onnx files works in `/usr/share/obs/obs-plugins/`

[2022-05-13 12:54] carlosevi94 commented on #34
I everyone, I'm on Ubuntu 20.04, im trying to install using `pacstall -I obs-backgroundremoval-git` but I get stucked here

![Fail on instalation](https://user-images.githubusercontent.com/16592166/168287208-89137994-36eb-4f77-9f58-fe98ed780847.png)

Maybe is a way to change something in pacstall script and get it run???

[2022-05-19 21:29] codysechelski commented on #27
I'm Also having Stability Issues on my Mac. I will run, and I can preview the results, but after a few minutes the video will freeze and OBS crashes.

[code]

Log:
[code]

[2022-05-21 15:15] misskecupbung commented on #34
@carlosevi94 Before installing the plugin, I execute these on my Ubuntu 20.04:
[code]

Same with me, I installed it through the deb file and it works.

[2022-05-21 15:16] misskecupbung commented on #34
Same with me, I installed it through the deb file and it works.

[2022-05-21 15:20] misskecupbung commented on #34
I installed the dependencies first and it works on my Ubuntu 20.04
[code]

[2022-05-22 22:07] Supermagnum commented on #93
Any solution on this yet?

[2022-05-22 22:23] Supermagnum opened #97 "request: install instructions on Linux mint"
I have tried to install on Linux mint,- but ran in to the libobs depency issue described here:
https://github.com/royshil/obs-backgroundremoval/issues/93

It uses packages from :
  Distro: Linux Mint 20.3 Una base: Ubuntu 20.04 focal

So, how do I get this to compile and solve the mentioned libobs depency issue ?

[2022-05-24 09:19] erhan- commented on #81
Hey @kapulkin , I am having the same hairy usecase as you :). Will you have a look at the conversion again if you every have time again? That would be really nice! :)

[2022-05-25 09:11] carlosevi94 commented on #34
Now its works!!! Thanks! :D

[2022-05-25 12:39] ascdi commented on #96
Even using bedcaf9 i get a similar error on ubuntu (20.04), now it can't find OpenCV:

[code]

[2022-05-25 22:29] benschmi commented on #88
Same on OBS 27.2.4 and macOS 12.4.

[2022-05-29 21:46] tam7t commented on #67
I put together a flatpak definition that seems to work for v0.4.0: https://gist.github.com/tam7t/dfc8d08ee1042de52921f2cd8a0ce2db

I start with OBS installed through flatpak (`com.obsproject.Studio`, https://feaneron.com/2022/02/14/obs-studio-27-2-on-flathub-get-it-while-its-hot/) then build/install these files as a plugin:

[code]

[2022-05-30 17:37] DJYeh commented on #34
I was following the instructions when I got problem with onnxruntime. I'm not familiar with pacstall. Any idea how to fix this?

WARNING! stowing onnxruntime-1-7-0-bin would cause conflicts:
  * existing target is neither a link nor a directory: usr/local/include/cpu_provider_factory.h
  * existing target is neither a link nor a directory: usr/local/include/cuda_provider_factory.h
  * existing tar

[2022-06-04 17:37] CraftingInC commented on #70
I'm using the pre-built binaries for 64-Bit Windows. I set it to GPU DirectML ( which is the only GPU choice it gives me ) and I am seeing that the GPU does NOT work. It uses the CPU no matter what choice I set it to. Also, It ramps up the CPU to 70% usage. Also, if I set the frame count to capture every 2 frames instead of just 1, then it lowers the CPU usage to 60%. But that is the only differen

[2022-06-04 17:41] CraftingInC commented on #87
Confirmed, it does not work.

OBS : version 27.2.4
Plugin : obs-backgroundremoval-0.4.0-win64.zip

I'm using the pre-built binaries for 64-Bit Windows. I set it to GPU DirectML ( which is the only GPU choice it gives me ) and I am seeing that the GPU does NOT work. It uses the CPU no matter what choice I set it to. Also, It ramps up the CPU to 70% usage. Also, if I set the frame count to capture e

[2022-06-05 04:43] azazar commented on #68
Same. Core dump: http://y.uo1.net/core.18275.gz

[code]

[2022-06-05 04:50] azazar commented on #68
Same. Core dump: http://y.uo1.net/core.18275.gz

[code]

[code]

[2022-06-07 16:04] jaronklopstein opened #98 "Adding Filter Causes Black Screen"
I have successfully downloaded and installed the plugin. When I add the video filter to my video input it results in a black screen. As soon as I remove the filter, my video input works normally.

Here is a log file: https://obsproject.com/logs/FWS7ZyMyCuL0ymeq

[2022-06-07 20:51] Jamtart420 commented on #98
I installed it and worked fine try just putting in what you want behind you and see if it works I'm no pro
![obs](https://user-images.githubusercontent.com/106849270/172480044-3f454d71-7745-4989-821a-cacfc8af9c30.png)
)

[2022-06-08 14:20] gcarbone commented on #88
Experiencing the same issue:

OBS: 27.2.4
MacOS: 12.4

[2022-06-14 17:14] nambuco commented on #98
Same problem here..... tested with two diferent cameras. Windows 10 machine with latested OBS / Plugin version

[2022-06-14 23:45] nambuco commented on #98
Moving back to version v0.3.0 solved the problem for me.

[2022-06-16 23:15] brunofunnie commented on #97
Same here kudos for those who passed this error, those files simple cannot be found.

My distro is: Pop!_OS 22.04 clean install also installed all dependencies even those from #93

[2022-06-17 12:05] hughperkins commented on #92
Tried the approach from the head of thi thread, but still creashes

[2022-06-24 15:52] herteljt commented on #34
I followed Zahrun's advice above and did:
`pacstall -U pacstall develop
pacstall -I obs-backgroundremoval-git`

[2022-06-26 22:40] AndrianD commented on #88
+1
OBS: 27.2.4
MacOS: 12.4

[2022-06-28 01:12] MetacLeod opened #100 "Idea: GPU Only version or Use as Effect Filter?"
Hi guys,

I was wonder if it would be possible to use background removal as an Effect Filter? The RTX version of this works this way I believe and while I know it's probably no easy feat I figured I'd ask if it's possible to use it as an Effect Filter instead of a Video Filter, since Video Filters can't be applied to source mirrors or nested scenes. I'd really love it so I could [achieve this](htt

[2022-07-01 09:52] brotons commented on #72
on My OBS version 27.2.4 also not showing up. I think this is still a bug problem.

[2022-07-01 13:57] smattar2020 commented on #73
Please build this for Apple Silicon. This is sooooooo... slow when using the Intel version of OBS on M1.

[2022-07-01 14:41] claell opened #101 "Chroma key with feather filter creates some color spill for me"
I want to use this plugin with a virtual background. For that, it is suggested to use a chroma key filter.

However, together with the "Feather blend silhouette" option of this, the chroma key filter creates a color spill on the edges, which doesn't look nice:

![grafik](https://user-images.githubusercontent.com/6171135/176916159-52de5c80-3dc1-4605-b2d0-3e7344b55d40.png)

If I don't use the "Feath

[2022-07-01 14:43] claell commented on #54
Duplicate of #23?

[2022-07-01 14:46] claell opened #102 "How can I use this in GPU mode?"
I tried setting the Inference device to "GPU - DirectML", but it did not seem to have effect on the CPU usage. Do I need some packages like CUDA installed to make it work?

[2022-07-02 23:29] ny2292000 opened #103 "Problems with plugin innstallation in Ubuntu 22.04, OBS-Studio 27.2.4"
Dear Roy,

Thanks for the great plugin.

I don't think this is an issue with the code itself.  I think it is a problem with the installation, perhaps we are missing some details or functions.

Following strictly the instructions, result in an error and incompatibilities with libobs versions.
It seems that apt only has the older version.
I spend a lot of time trying to learn by myself how to solve

[2022-07-06 06:03] #96 closed

[2022-07-08 22:20] arpagon commented on #67
Nice, thanks @tam7t  [This](https://github.com/royshil/obs-backgroundremoval/issues/67#issuecomment-1140530459)
 work as charm.
@royshil Is possible to publish the plugin in flathub?

[2022-07-12 13:40] myself-rj commented on #103
It seems even the github CI failed for the latest commit https://github.com/royshil/obs-backgroundremoval/runs/6264276409

So, as a workaround, until @royshil replies, I use this:
git checkout bedcaf973424a05d2cfff1dc1295f5b516f82cd2
To go back to the latest buildable state and then build as usual (see [commit history](https://github.com/royshil/obs-backgroundremoval/commits/main))

[2022-07-13 10:13] heidiwenger commented on #67
Oh yes that would be the optimal for the end user (and prolly for everyone else) and in my mind starting this thread.

Three files are required to publish on Flathub:

1. The Flatpak manifest containing the sources and dependencies of the plugin. This file may be either YAML or JSON.

2. AppStream metadata with useful information about your plugin, such as the name, a description, and the license.

[2022-07-18 20:55] Danie10 commented on #63
Thanks this version 0.4 fixed the crash for me on Manjaro KDE.

[2022-07-22 13:38] titioft commented on #98
I just downloaded the plugin on my macosx 12.4 with OBS 27.2.4. Same issue totally black screen even when changing the threshold value. Absolutely no effect still full black. I will try to use a different version v0.3.0.

[2022-07-22 14:25] titioft commented on #98
ok I solved my own issue. I was not installing the plug-in properly. I needed to install the model as well. Drag and drop is not working from the archive. I needed to run into command line. See below:
unzip -o obs-backgroundremoval-macosx.zip -d /Applications/OBS.app/Contents/
Archive:  obs-backgroundremoval-macosx.zip
  inflating: /Applications/OBS.app/Contents/Plugins/obs-backgroundremoval.so

[2022-07-30 17:22] Supermagnum commented on #97
Any updates on this?

[2022-07-31 23:48] pfs7 opened #104 "MacOS under Build instructions there is an error with the cmake command"
Here is the error when running the cmake command:
CMake Error: The source directory "/Users/<username>" does not appear to contain CMakeLists.txt.
I'm assuming that the command needs to be run from a specific working directory. Please modify the command so that includes the full path.

[2022-08-02 13:44] clixmoney opened #105 "I don't see the filter at all"
I have Windows 7, I did everything right, tried many times to close and reopen obs, but I don't see the filter at all. What should I do ?

[2022-08-03 15:01] Karasiq commented on #105
Same

[2022-08-05 05:43] tvl83 commented on #105
I am on windows 10, just downloaded and am trying to follow a video to set this up. It does not show up under filters. I've restarted OBS 3-4 times.

[2022-08-05 05:51] tvl83 commented on #105
So, I did just find it. It's under filters for the **SOURCE** _not_ for the **SCENE**.

[2022-08-12 14:12] dergyitheron commented on #96
Hey guys,

as I understand it now, there are some issues with plugin having different format in newer versions of OBS. I have the same issue with come .cmake files not being found. I was able to solve the `libobsConfig.cmake` missing by creating symlink mentioned earlier in this issue.

I now get message of not being able to find `obs-frontend-apiConfig.cmake`, which some of you mentioned earlier

[2022-08-14 08:47] mike-symon opened #106 "Not working on my macbook air"
Hi Team, I have extracted the zip in the correct place and I cannot see it in source filters. Am I missing something? Does anyone have any alternatives they know of that I could try? Thanks

[2022-08-17 23:55] Supermagnum opened #107 "request: flatpack version"
That should take care of any issues with missing packages and so on..

[2022-08-21 03:45] directrix1 commented on #96
I have a pull request #108 that allows it to build on Ubuntu 22.04 . I haven't tested it with CUDA though.

[2022-08-24 22:55] billksun commented on #34
@mhcerri @Zahrun How did you get this working? I am trying to get 2 sources from the same webcam (phone cam via DroidCam OBS) that I can apply different filters to (one obs-backgroundremoval, and the other blur). I didn't get very far:

1. I added a DroidCam OBS Source, with a Dedicated NDI Output filter.
2. I then added the NDI Source, but I am unable to see my NDI output created in the previous

[2022-08-27 00:44] tririver opened #109 "Mac M1 native version with OBS 28?"
OBS 28 is in its Release Candidate stage. Would background removal be updated to natively run on Mac M1?

[2022-08-28 23:17] deymisluis commented on #34
I tried all the steps here and I was not successful, but I found a snap version with several plugins installed including OBS Background Removal, some may not even like snaps but this one ended up solving my problem and saved me time.

[https://github.com/snapcrafters/obs-studio](https://github.com/snapcrafters/obs-studio)

[2022-08-30 13:24] chfeizy opened #110 "mat dataend read memory from 0x7fece0290000 failed (0 of 1 bytes read)"
<img width="1121" alt="image" src="https://user-images.githubusercontent.com/6427629/187448511-fabff3d1-29b4-44cc-91cc-f3464e096cdd.png">

[2022-08-30 13:24] chfeizy commented on #110
the convertFrameToBGR failed

[2022-08-30 17:44] p0o0uya opened #111 "On Ubuntu 22.04.1 LTS I cannot install libobs-dev!"
I already have obs-studio installed on My Jammy machine and its running well. Now, when I try to install obs-backgroundremoval plugin I encounter a conflict in installation. When I try to install libobs-dev as a requirement I get a conflict error like the following:
`The following packages have unmet dependencies:
 obs-studio : Conflicts: libobs0 but 27.2.3+dfsg1-1 is to be installed
E: Error, pkg

[2022-08-31 01:43] jnitterauer opened #112 "CPU Usage Maxes Out Windows 11"
I have installed this plugin in 3 different Windows machines. When active, the plugin causes CPU usage to spike to almost 100% utilization. No setting tweak will stop the CPU usage. Frames get dropped and video quality is terrible. Removing the filter instantly restored performance and lowers CPU use. I am running latest OBS on Windows 11.

Any ideas? Its useless unless the CPU usage gets reined i

[2022-08-31 18:18] pkej commented on #109
It seems several plugin-makers have github actions for building to Apple Silicone + QT6, [exeldro](https://github.com/exeldro), [univrsal](https://github.com/univrsal) and [WarmUpTill](https://github.com/WarmUpTill).

Thank you for the plugin, probably will make me stay on OBS 27 for now

[2022-09-05 11:10] smirgol opened #114 "Compilation on Linux+AMD broken - OrtSessionOptionsAppendExecutionProvider_DML"
The changes to background-filter.cpp in commit cc9d4a5711f9388ed110230f9f793bb071577a23 broke compilation in Linux (Ubuntu 22.04) for me:

[code]
In earlier versions the part with using either `OrtSessionOptionsAppendExecutionProvider_DML` or `OrtSessionOptionsAppendExecutionProvider_CUDA` was used only on WIN32, but now it is also used for linux.

I'm on a AMD GPU and neither have CUDA nor DML, s

[2022-09-12 04:46] MadMartian opened #115 "Support for OBS v28?"
Today (much to my chagrin) I noticed that OBS Studio upgraded from v27 to v28 and completely obliterated my background removal setup.  To add insult to injury, the previous version of OBS Studio I was using `27.1.3-0obsproject1~focal` no longer exists, so I cannot even downgrade and have been effectively kicked out into the rain and left holding the bag.

Is there going to be an effort to add v28

[2022-09-13 05:44] markrittenhouse commented on #106
I had similar issue on my M1 macbook air, and I found https://github.com/royshil/obs-backgroundremoval/issues/109
You can download release from this fork https://github.com/umireon/obs-backgroundremoval/releases/tag/v0.4.3-umireon and follow instructions, like
[code]

[2022-09-13 05:47] duleorlovic commented on #106
I had similar issue on my M1 macbook air, and I found https://github.com/royshil/obs-backgroundremoval/pull/113
You can download release from this fork https://github.com/umireon/obs-backgroundremoval/releases/tag/v0.4.3-umireon and follow instructions, like
[code]

[2022-09-13 06:02] mike-symon commented on #106
Thanks mate, will give it a try 👍🏼

[2022-09-15 19:42] mrtoner commented on #106
Just a note: the installation instructions for macOS are wrong: you don't simply put the unzipped folder into the OBS package Contents as indicated. There are two folders, Plugins and Resources, within the enclosing folder. The files or folders within those two folders are *moved* into the existing directory structure of Contents. Once that is done, the Background Removal filter will show up.

If

[2022-09-16 02:06] Skullfurious commented on #115
Also looking to see what it would take to update this to v28

[2022-09-19 02:23] jmlipari opened #117 "Crash onnxruntime - Resource temporarily unavailable"
After a long time fighting alone (to learn), I decided to ask for your help…:slight_smile: I installed obs-studio through snap onto Ubuntu 22.04.1

When I tried to run the backgroundremoval plugin, obs studio crash and I get this error:
Error: [obs-backgroundremoval] /onnxruntime_src/onnxruntime/core/platform/posix/env.cc:183 onnxruntime::{anonymous}::PosixThread::PosixThread(const char*, int, uns

[2022-09-20 10:20] umireon commented on #115
I could built OBS 28 version on my Mac easily #113

[2022-09-20 19:16] RobotCaleb commented on #111
There are all sorts of casing issues going on in here. I don't know how this was built by anyone for Ubuntu out of the box.

[2022-09-20 19:23] RobotCaleb commented on #111
I got it to build (but haven't tested it) on Ubuntu 22.04 with the following files:
https://gist.github.com/RobotCaleb/6ea4066f220ac8fe5e538e741a873174

Determining the diff is left as an exercise for the reader.

[2022-09-21 05:10] ZXSwire3 commented on #115
The windows build instructions don't seem as simple. I was trying to follow them, but I got stuck when I had to install `Microsoft.ML.OnnxRuntime.DirectML` and `Microsoft.ML.OnnxRuntime.Gpu` with nuget.

[2022-09-21 05:17] umireon commented on #115
@ZXSwire3 You can fork this repo, fix the code, and update the build instructions as I do.
Nothing blocks you to contribute!
You can do it!

[2022-09-23 06:45] blackPantherOS opened #118 "Build fail with onnxruntime 1.13 (git)"
Hi, I got this error with git version of onnxruntime (1.13.0)

[code]

The build succesful with onnxruntime.1.12

[code]

[2022-09-25 04:22] balathebug commented on #64
@OBS1227 Im facing the issue. it keep-on crashing after pasting it.

[2022-09-27 14:05] 3DCoded opened #119 "Offer Universal Build for Mac"
When using this with M1 Mac with M1 OBS, it doesn't show up in the properties. When I use Rosetta 2 to run Intel OBS, it shows, but is really slow. Please build this for universal Mac.

[2022-09-27 15:58] BriegerCA opened #120 "UBUNTU Tool crashing"
I have spend quite some time trying to get this to run with UBUNTU without success.
People have send in detailed reports (segmentation faults, etc), but no response.
The SNAP solution doesn't work, the PIP installer doesn't work in UBUNTU either.
Is there anyone who got this to work with UBUNTU 22.04 and OBS 28 and wouldn't
mind sharing the plugin?
As I said, plenty of failure reports have been fi

[2022-09-27 17:19] BriegerCA commented on #114
Hi Robert,
I got the same error when compiling. I see that you got one fixed, but how about the other?
Truly sad that the Author doesn't seem to react to any issues posted.

[2022-09-27 20:02] BriegerCA commented on #111
Thank you Caleb!!
I finally got it to work with your Code. Was about time!
Granted, the CPU goes mountain climbing, but that was to be expected.
I had to use sudo aptitude install libobs and down grade OBS to compile (why the heck? KDENLIVE left the house as well),
then got the segmentation error. Did the upgrade back to version OBS 28 on UBUNTU 22.04.
Now I am in business.

Thanks again for your

[2022-09-28 09:10] sc0ty opened #121 "Feature request: option to blur background instead of removing it"
Blurring is currently unnecessary complicated and requires use of external tools to duplicate webcam input. It would be much easier if we have this option built-in, even with some simple blurring algorithm.

Great plugin by the way, I was looking for something like this a long time.

[2022-09-28 22:21] MadMartian commented on #115
I added the Linux fix in #122

[2022-10-01 13:49] Nikhilthadani opened #123 "Asset Files Not Available"
Assets files stuck on the loading circle. Not available

[2022-10-01 13:50] #123 closed

[2022-10-06 07:21] ngoonee opened #124 "Is it possible for a new release?"
Personally I'm interested in https://github.com/royshil/obs-backgroundremoval/pull/57 actually being released. Also the recent release of OBS v28 (and the PR for Mac compilation etc) probably should be merged and released.

[2022-10-06 17:09] rohaanuv commented on #72
obs 28.0.3 can't show the  background removal plugin

[2022-10-06 21:34] zennmaster commented on #115
Nice work, thank you!

[2022-10-07 15:51] LuisGFer opened #125 "‘OrtSessionOptionsAppendExecutionProvider_DML’ was not declared in this scope"
In Ubuntu 22.04 when I try to cmake --build . following the installation instructions I get this error:

error: ‘OrtSessionOptionsAppendExecutionProvider_DML’ was not declared in this scope; did you mean ‘OrtSessionOptionsAppendExecutionProvider_CPU’?
  215 |             Ort::ThrowOnError(OrtSessionOptionsAppendExecutionProvider_DML(sessionOptions, 0));
      |                               ^~~~~~

[2022-10-07 18:43] Technetium1 commented on #115
@MadMartian why downgrade opencv? https://github.com/royshil/obs-backgroundremoval/pull/122/files#diff-1e7de1ae2d059d21e1dd75d5812d5a34b0222cef273b7c3a2af62eb747f9d20aR114

[2022-10-09 08:09] bobek commented on #125
Changing the mentioned line to `OrtSessionOptionsAppendExecutionProvider_CPU` (mind the `CPU` at the end) will result in successful build, with ONNX using just CPU (in my case it will result in 3 fully utilized cores).

DML stand for DirectML -- https://onnxruntime.ai/docs/execution-providers/DirectML-ExecutionProvider.html , which gets selected if `CUDA` is not available, but DML is not available

[2022-10-10 23:01] lindsaymarkward commented on #106
Hi @mrtoner and @umireon - Thanks for this info... can you provide a bit more detail on this install process?
For me, the original (0.4.0) zip file contains `Plugins` and `Resources` when extracted, but this https://github.com/umireon/obs-backgroundremoval/releases/tag/v0.4.3-umireon only extracts to one `obs-backgroundremoval.plugin` file. I can "Show Package Contents", but inside this is `MacOS`

[2022-10-11 02:41] umireon commented on #106
@lindsaymarkward
The plugin installation method was changed from OBS 28. Do not follow the instructions on [the README.md](https://github.com/royshil/obs-backgroundremoval/issues/106) as it won't work.

Follow the below instructions.

[code]

If this doesn't work, please ensure your OBS installation is v28 and Apple Silicon one.

Additional note, do not try to manually unzip and place files.

[2022-10-11 04:09] lindsaymarkward commented on #106
Thank you.
I had tried that but without using curl, only click-to-download (still unzip in Terminal).
So, I did it with curl then unzip in the terminal. No result.
To be sure, since you said, I reinstalled the Apple Silicon version of OBS from their site. It didn't look any different (About said the same thing), but this time Background Removal was there! Thank you.
(I never got the security promp

[2022-10-11 04:20] umireon commented on #106
@lindsaymarkward The instructions were updated for later people, thanks!

<img width="1205" alt="スクリーンショット 2022-10-11 13 18 31" src="https://user-images.githubusercontent.com/1067855/194996154-2c17252c-5013-49da-93a6-5bd7c8ecc5b7.png">

<img width="1007" alt="スクリーンショット 2022-10-11 13 18 16" src="https://user-images.githubusercontent.com/1067855/194996150-a07d2e31-293e-4955-9a24-dce2983374ba.png">

[2022-10-18 00:07] twe4ked commented on #106
@umireon any chance of upstreaming your changes?

[2022-10-19 15:28] djwesty commented on #111
Calebs changes solved my issue too, cheers

[2022-10-20 19:52] mircous commented on #120
same

[2022-10-20 20:28] BriegerCA commented on #120
Hey,

if you run UBUNTU and OBS 28.xx the issue is fixed.
Not by the creator though. Still need info?

On 10/20/22 12:52, mircous wrote:

[2022-10-22 02:15] rigo commented on #125
Thanks @bobek I successfully compiled and used obs-backgroundremoval with OBS 28.0.1 on Ubuntu 22.10.

[2022-10-27 02:17] snollygolly commented on #119
I'd really love to see this added as well

[2022-11-14 20:43] joemarshall commented on #90
@royshil I think it might be possible using samplers - https://github.com/Xaymar/obs-StreamFX/blob/master/source/filters/filter-virtual-greenscreen.cpp

Or alternatively, there's no way to add alpha channel to the output of this?

[2022-11-25 01:49] realSAH opened #127 "Support for flips and rotations from camera config"
I changed config of my camera by applying flips (vertical, horizontal, clockwise and counterclockwise) both from camera config itself and from OBS filters, but it plugin failed to respond to those changes. E.g. the torso of my body shown in the opposite direction.

Can you please add support to account for those geometric transformations?